@fa-font-path:        "@{plCrossRoot}/fonts";
@fa-css-prefix:       icon;
@fa-version:          "4.2.0";
@fa-border-color:     #eee;
@fa-inverse:          #fff;
@fa-li-width:         (30em / 14);

@fa-var-adjust: "\f042";
@fa-var-adn: "\f170";
@fa-var-align-center: "\f037";
@fa-var-align-justify: "\f039";
@fa-var-align-left: "\f036";
@fa-var-align-right: "\f038";
@fa-var-ambulance: "\f0f9";
@fa-var-anchor: "\f13d";
@fa-var-android: "\f17b";
@fa-var-angellist: "\f209";
@fa-var-angle-double-down: "\f103";
@fa-var-angle-double-left: "\f100";
@fa-var-angle-double-right: "\f101";
@fa-var-angle-double-up: "\f102";
@fa-var-angle-down: "\f107";
@fa-var-angle-left: "\f104";
@fa-var-angle-right: "\f105";
@fa-var-angle-up: "\f106";
@fa-var-apple: "\f179";
@fa-var-archive: "\f187";
@fa-var-area-chart: "\f1fe";
@fa-var-arrow-circle-down: "\f0ab";
@fa-var-arrow-circle-left: "\f0a8";
@fa-var-arrow-circle-o-down: "\f01a";
@fa-var-arrow-circle-o-left: "\f190";
@fa-var-arrow-circle-o-right: "\f18e";
@fa-var-arrow-circle-o-up: "\f01b";
@fa-var-arrow-circle-right: "\f0a9";
@fa-var-arrow-circle-up: "\f0aa";
@fa-var-arrow-down: "\f063";
@fa-var-arrow-left: "\f060";
@fa-var-arrow-right: "\f061";
@fa-var-arrow-up: "\f062";
@fa-var-arrows: "\f047";
@fa-var-arrows-alt: "\f0b2";
@fa-var-arrows-h: "\f07e";
@fa-var-arrows-v: "\f07d";
@fa-var-asterisk: "\f069";
@fa-var-at: "\f1fa";
@fa-var-automobile: "\f1b9";
@fa-var-backward: "\f04a";
@fa-var-ban: "\f05e";
@fa-var-bank: "\f19c";
@fa-var-bar-chart: "\f080";
@fa-var-bar-chart-o: "\f080";
@fa-var-barcode: "\f02a";
@fa-var-bars: "\f0c9";
@fa-var-beer: "\f0fc";
@fa-var-behance: "\f1b4";
@fa-var-behance-square: "\f1b5";
@fa-var-bell: "\f0f3";
@fa-var-bell-o: "\f0a2";
@fa-var-bell-slash: "\f1f6";
@fa-var-bell-slash-o: "\f1f7";
@fa-var-bicycle: "\f206";
@fa-var-binoculars: "\f1e5";
@fa-var-birthday-cake: "\f1fd";
@fa-var-bitbucket: "\f171";
@fa-var-bitbucket-square: "\f172";
@fa-var-bitcoin: "\f15a";
@fa-var-bold: "\f032";
@fa-var-bolt: "\f0e7";
@fa-var-bomb: "\f1e2";
@fa-var-book: "\f02d";
@fa-var-bookmark: "\f02e";
@fa-var-bookmark-o: "\f097";
@fa-var-briefcase: "\f0b1";
@fa-var-btc: "\f15a";
@fa-var-bug: "\f188";
@fa-var-building: "\f1ad";
@fa-var-building-o: "\f0f7";
@fa-var-bullhorn: "\f0a1";
@fa-var-bullseye: "\f140";
@fa-var-bus: "\f207";
@fa-var-cab: "\f1ba";
@fa-var-calculator: "\f1ec";
@fa-var-calendar: "\f073";
@fa-var-calendar-o: "\f133";
@fa-var-camera: "\f030";
@fa-var-camera-retro: "\f083";
@fa-var-car: "\f1b9";
@fa-var-caret-down: "\f0d7";
@fa-var-caret-left: "\f0d9";
@fa-var-caret-right: "\f0da";
@fa-var-caret-square-o-down: "\f150";
@fa-var-caret-square-o-left: "\f191";
@fa-var-caret-square-o-right: "\f152";
@fa-var-caret-square-o-up: "\f151";
@fa-var-caret-up: "\f0d8";
@fa-var-cc: "\f20a";
@fa-var-cc-amex: "\f1f3";
@fa-var-cc-discover: "\f1f2";
@fa-var-cc-mastercard: "\f1f1";
@fa-var-cc-paypal: "\f1f4";
@fa-var-cc-stripe: "\f1f5";
@fa-var-cc-visa: "\f1f0";
@fa-var-certificate: "\f0a3";
@fa-var-chain: "\f0c1";
@fa-var-chain-broken: "\f127";
@fa-var-check: "\f00c";
@fa-var-check-circle: "\f058";
@fa-var-check-circle-o: "\f05d";
@fa-var-check-square: "\f14a";
@fa-var-check-square-o: "\f046";
@fa-var-chevron-circle-down: "\f13a";
@fa-var-chevron-circle-left: "\f137";
@fa-var-chevron-circle-right: "\f138";
@fa-var-chevron-circle-up: "\f139";
@fa-var-chevron-down: "\f078";
@fa-var-chevron-left: "\f053";
@fa-var-chevron-right: "\f054";
@fa-var-chevron-up: "\f077";
@fa-var-child: "\f1ae";
@fa-var-circle: "\f111";
@fa-var-circle-o: "\f10c";
@fa-var-circle-o-notch: "\f1ce";
@fa-var-circle-thin: "\f1db";
@fa-var-clipboard: "\f0ea";
@fa-var-clock-o: "\f017";
@fa-var-close: "\f00d";
@fa-var-cloud: "\f0c2";
@fa-var-cloud-download: "\f0ed";
@fa-var-cloud-upload: "\f0ee";
@fa-var-cny: "\f157";
@fa-var-code: "\f121";
@fa-var-code-fork: "\f126";
@fa-var-codepen: "\f1cb";
@fa-var-coffee: "\f0f4";
@fa-var-cog: "\f013";
@fa-var-cogs: "\f085";
@fa-var-columns: "\f0db";
@fa-var-comment: "\f075";
@fa-var-comment-o: "\f0e5";
@fa-var-comments: "\f086";
@fa-var-comments-o: "\f0e6";
@fa-var-compass: "\f14e";
@fa-var-compress: "\f066";
@fa-var-copy: "\f0c5";
@fa-var-copyright: "\f1f9";
@fa-var-credit-card: "\f09d";
@fa-var-crop: "\f125";
@fa-var-crosshairs: "\f05b";
@fa-var-css3: "\f13c";
@fa-var-cube: "\f1b2";
@fa-var-cubes: "\f1b3";
@fa-var-cut: "\f0c4";
@fa-var-cutlery: "\f0f5";
@fa-var-dashboard: "\f0e4";
@fa-var-database: "\f1c0";
@fa-var-dedent: "\f03b";
@fa-var-delicious: "\f1a5";
@fa-var-desktop: "\f108";
@fa-var-deviantart: "\f1bd";
@fa-var-digg: "\f1a6";
@fa-var-dollar: "\f155";
@fa-var-dot-circle-o: "\f192";
@fa-var-download: "\f019";
@fa-var-dribbble: "\f17d";
@fa-var-dropbox: "\f16b";
@fa-var-drupal: "\f1a9";
@fa-var-edit: "\f044";
@fa-var-eject: "\f052";
@fa-var-ellipsis-h: "\f141";
@fa-var-ellipsis-v: "\f142";
@fa-var-empire: "\f1d1";
@fa-var-envelope: "\f0e0";
@fa-var-envelope-o: "\f003";
@fa-var-envelope-square: "\f199";
@fa-var-eraser: "\f12d";
@fa-var-eur: "\f153";
@fa-var-euro: "\f153";
@fa-var-exchange: "\f0ec";
@fa-var-exclamation: "\f12a";
@fa-var-exclamation-circle: "\f06a";
@fa-var-exclamation-triangle: "\f071";
@fa-var-expand: "\f065";
@fa-var-external-link: "\f08e";
@fa-var-external-link-square: "\f14c";
@fa-var-eye: "\f06e";
@fa-var-eye-slash: "\f070";
@fa-var-eyedropper: "\f1fb";
@fa-var-facebook: "\f09a";
@fa-var-facebook-square: "\f082";
@fa-var-fast-backward: "\f049";
@fa-var-fast-forward: "\f050";
@fa-var-fax: "\f1ac";
@fa-var-female: "\f182";
@fa-var-fighter-jet: "\f0fb";
@fa-var-file: "\f15b";
@fa-var-file-archive-o: "\f1c6";
@fa-var-file-audio-o: "\f1c7";
@fa-var-file-code-o: "\f1c9";
@fa-var-file-excel-o: "\f1c3";
@fa-var-file-image-o: "\f1c5";
@fa-var-file-movie-o: "\f1c8";
@fa-var-file-o: "\f016";
@fa-var-file-pdf-o: "\f1c1";
@fa-var-file-photo-o: "\f1c5";
@fa-var-file-picture-o: "\f1c5";
@fa-var-file-powerpoint-o: "\f1c4";
@fa-var-file-sound-o: "\f1c7";
@fa-var-file-text: "\f15c";
@fa-var-file-text-o: "\f0f6";
@fa-var-file-video-o: "\f1c8";
@fa-var-file-word-o: "\f1c2";
@fa-var-file-zip-o: "\f1c6";
@fa-var-files-o: "\f0c5";
@fa-var-film: "\f008";
@fa-var-filter: "\f0b0";
@fa-var-fire: "\f06d";
@fa-var-fire-extinguisher: "\f134";
@fa-var-flag: "\f024";
@fa-var-flag-checkered: "\f11e";
@fa-var-flag-o: "\f11d";
@fa-var-flash: "\f0e7";
@fa-var-flask: "\f0c3";
@fa-var-flickr: "\f16e";
@fa-var-floppy-o: "\f0c7";
@fa-var-folder: "\f07b";
@fa-var-folder-o: "\f114";
@fa-var-folder-open: "\f07c";
@fa-var-folder-open-o: "\f115";
@fa-var-font: "\f031";
@fa-var-forward: "\f04e";
@fa-var-foursquare: "\f180";
@fa-var-frown-o: "\f119";
@fa-var-futbol-o: "\f1e3";
@fa-var-gamepad: "\f11b";
@fa-var-gavel: "\f0e3";
@fa-var-gbp: "\f154";
@fa-var-ge: "\f1d1";
@fa-var-gear: "\f013";
@fa-var-gears: "\f085";
@fa-var-gift: "\f06b";
@fa-var-git: "\f1d3";
@fa-var-git-square: "\f1d2";
@fa-var-github: "\f09b";
@fa-var-github-alt: "\f113";
@fa-var-github-square: "\f092";
@fa-var-gittip: "\f184";
@fa-var-glass: "\f000";
@fa-var-globe: "\f0ac";
@fa-var-google: "\f1a0";
@fa-var-google-plus: "\f0d5";
@fa-var-google-plus-square: "\f0d4";
@fa-var-google-wallet: "\f1ee";
@fa-var-graduation-cap: "\f19d";
@fa-var-group: "\f0c0";
@fa-var-h-square: "\f0fd";
@fa-var-hacker-news: "\f1d4";
@fa-var-hand-o-down: "\f0a7";
@fa-var-hand-o-left: "\f0a5";
@fa-var-hand-o-right: "\f0a4";
@fa-var-hand-o-up: "\f0a6";
@fa-var-hdd-o: "\f0a0";
@fa-var-header: "\f1dc";
@fa-var-headphones: "\f025";
@fa-var-heart: "\f004";
@fa-var-heart-o: "\f08a";
@fa-var-history: "\f1da";
@fa-var-home: "\f015";
@fa-var-hospital-o: "\f0f8";
@fa-var-html5: "\f13b";
@fa-var-ils: "\f20b";
@fa-var-image: "\f03e";
@fa-var-inbox: "\f01c";
@fa-var-indent: "\f03c";
@fa-var-info: "\f129";
@fa-var-info-circle: "\f05a";
@fa-var-inr: "\f156";
@fa-var-instagram: "\f16d";
@fa-var-institution: "\f19c";
@fa-var-ioxhost: "\f208";
@fa-var-italic: "\f033";
@fa-var-joomla: "\f1aa";
@fa-var-jpy: "\f157";
@fa-var-jsfiddle: "\f1cc";
@fa-var-key: "\f084";
@fa-var-keyboard-o: "\f11c";
@fa-var-krw: "\f159";
@fa-var-language: "\f1ab";
@fa-var-laptop: "\f109";
@fa-var-lastfm: "\f202";
@fa-var-lastfm-square: "\f203";
@fa-var-leaf: "\f06c";
@fa-var-legal: "\f0e3";
@fa-var-lemon-o: "\f094";
@fa-var-level-down: "\f149";
@fa-var-level-up: "\f148";
@fa-var-life-bouy: "\f1cd";
@fa-var-life-buoy: "\f1cd";
@fa-var-life-ring: "\f1cd";
@fa-var-life-saver: "\f1cd";
@fa-var-lightbulb-o: "\f0eb";
@fa-var-line-chart: "\f201";
@fa-var-link: "\f0c1";
@fa-var-linkedin: "\f0e1";
@fa-var-linkedin-square: "\f08c";
@fa-var-linux: "\f17c";
@fa-var-list: "\f03a";
@fa-var-list-alt: "\f022";
@fa-var-list-ol: "\f0cb";
@fa-var-list-ul: "\f0ca";
@fa-var-location-arrow: "\f124";
@fa-var-lock: "\f023";
@fa-var-long-arrow-down: "\f175";
@fa-var-long-arrow-left: "\f177";
@fa-var-long-arrow-right: "\f178";
@fa-var-long-arrow-up: "\f176";
@fa-var-magic: "\f0d0";
@fa-var-magnet: "\f076";
@fa-var-mail-forward: "\f064";
@fa-var-mail-reply: "\f112";
@fa-var-mail-reply-all: "\f122";
@fa-var-male: "\f183";
@fa-var-map-marker: "\f041";
@fa-var-maxcdn: "\f136";
@fa-var-meanpath: "\f20c";
@fa-var-medkit: "\f0fa";
@fa-var-meh-o: "\f11a";
@fa-var-microphone: "\f130";
@fa-var-microphone-slash: "\f131";
@fa-var-minus: "\f068";
@fa-var-minus-circle: "\f056";
@fa-var-minus-square: "\f146";
@fa-var-minus-square-o: "\f147";
@fa-var-mobile: "\f10b";
@fa-var-mobile-phone: "\f10b";
@fa-var-money: "\f0d6";
@fa-var-moon-o: "\f186";
@fa-var-mortar-board: "\f19d";
@fa-var-music: "\f001";
@fa-var-navicon: "\f0c9";
@fa-var-newspaper-o: "\f1ea";
@fa-var-openid: "\f19b";
@fa-var-outdent: "\f03b";
@fa-var-pagelines: "\f18c";
@fa-var-paint-brush: "\f1fc";
@fa-var-paper-plane: "\f1d8";
@fa-var-paper-plane-o: "\f1d9";
@fa-var-paperclip: "\f0c6";
@fa-var-paragraph: "\f1dd";
@fa-var-paste: "\f0ea";
@fa-var-pause: "\f04c";
@fa-var-paw: "\f1b0";
@fa-var-paypal: "\f1ed";
@fa-var-pencil: "\f040";
@fa-var-pencil-square: "\f14b";
@fa-var-pencil-square-o: "\f044";
@fa-var-phone: "\f095";
@fa-var-phone-square: "\f098";
@fa-var-photo: "\f03e";
@fa-var-picture-o: "\f03e";
@fa-var-pie-chart: "\f200";
@fa-var-pied-piper: "\f1a7";
@fa-var-pied-piper-alt: "\f1a8";
@fa-var-pinterest: "\f0d2";
@fa-var-pinterest-square: "\f0d3";
@fa-var-plane: "\f072";
@fa-var-play: "\f04b";
@fa-var-play-circle: "\f144";
@fa-var-play-circle-o: "\f01d";
@fa-var-plug: "\f1e6";
@fa-var-plus: "\f067";
@fa-var-plus-circle: "\f055";
@fa-var-plus-square: "\f0fe";
@fa-var-plus-square-o: "\f196";
@fa-var-power-off: "\f011";
@fa-var-print: "\f02f";
@fa-var-puzzle-piece: "\f12e";
@fa-var-qq: "\f1d6";
@fa-var-qrcode: "\f029";
@fa-var-question: "\f128";
@fa-var-question-circle: "\f059";
@fa-var-quote-left: "\f10d";
@fa-var-quote-right: "\f10e";
@fa-var-ra: "\f1d0";
@fa-var-random: "\f074";
@fa-var-rebel: "\f1d0";
@fa-var-recycle: "\f1b8";
@fa-var-reddit: "\f1a1";
@fa-var-reddit-square: "\f1a2";
@fa-var-refresh: "\f021";
@fa-var-remove: "\f00d";
@fa-var-renren: "\f18b";
@fa-var-reorder: "\f0c9";
@fa-var-repeat: "\f01e";
@fa-var-reply: "\f112";
@fa-var-reply-all: "\f122";
@fa-var-retweet: "\f079";
@fa-var-rmb: "\f157";
@fa-var-road: "\f018";
@fa-var-rocket: "\f135";
@fa-var-rotate-left: "\f0e2";
@fa-var-rotate-right: "\f01e";
@fa-var-rouble: "\f158";
@fa-var-rss: "\f09e";
@fa-var-rss-square: "\f143";
@fa-var-rub: "\f158";
@fa-var-ruble: "\f158";
@fa-var-rupee: "\f156";
@fa-var-save: "\f0c7";
@fa-var-scissors: "\f0c4";
@fa-var-search: "\f002";
@fa-var-search-minus: "\f010";
@fa-var-search-plus: "\f00e";
@fa-var-send: "\f1d8";
@fa-var-send-o: "\f1d9";
@fa-var-share: "\f064";
@fa-var-share-alt: "\f1e0";
@fa-var-share-alt-square: "\f1e1";
@fa-var-share-square: "\f14d";
@fa-var-share-square-o: "\f045";
@fa-var-shekel: "\f20b";
@fa-var-sheqel: "\f20b";
@fa-var-shield: "\f132";
@fa-var-shopping-cart: "\f07a";
@fa-var-sign-in: "\f090";
@fa-var-sign-out: "\f08b";
@fa-var-signal: "\f012";
@fa-var-sitemap: "\f0e8";
@fa-var-skype: "\f17e";
@fa-var-slack: "\f198";
@fa-var-sliders: "\f1de";
@fa-var-slideshare: "\f1e7";
@fa-var-smile-o: "\f118";
@fa-var-soccer-ball-o: "\f1e3";
@fa-var-sort: "\f0dc";
@fa-var-sort-alpha-asc: "\f15d";
@fa-var-sort-alpha-desc: "\f15e";
@fa-var-sort-amount-asc: "\f160";
@fa-var-sort-amount-desc: "\f161";
@fa-var-sort-asc: "\f0de";
@fa-var-sort-desc: "\f0dd";
@fa-var-sort-down: "\f0dd";
@fa-var-sort-numeric-asc: "\f162";
@fa-var-sort-numeric-desc: "\f163";
@fa-var-sort-up: "\f0de";
@fa-var-soundcloud: "\f1be";
@fa-var-space-shuttle: "\f197";
@fa-var-spinner: "\f110";
@fa-var-spoon: "\f1b1";
@fa-var-spotify: "\f1bc";
@fa-var-square: "\f0c8";
@fa-var-square-o: "\f096";
@fa-var-stack-exchange: "\f18d";
@fa-var-stack-overflow: "\f16c";
@fa-var-star: "\f005";
@fa-var-star-half: "\f089";
@fa-var-star-half-empty: "\f123";
@fa-var-star-half-full: "\f123";
@fa-var-star-half-o: "\f123";
@fa-var-star-o: "\f006";
@fa-var-steam: "\f1b6";
@fa-var-steam-square: "\f1b7";
@fa-var-step-backward: "\f048";
@fa-var-step-forward: "\f051";
@fa-var-stethoscope: "\f0f1";
@fa-var-stop: "\f04d";
@fa-var-strikethrough: "\f0cc";
@fa-var-stumbleupon: "\f1a4";
@fa-var-stumbleupon-circle: "\f1a3";
@fa-var-subscript: "\f12c";
@fa-var-suitcase: "\f0f2";
@fa-var-sun-o: "\f185";
@fa-var-superscript: "\f12b";
@fa-var-support: "\f1cd";
@fa-var-table: "\f0ce";
@fa-var-tablet: "\f10a";
@fa-var-tachometer: "\f0e4";
@fa-var-tag: "\f02b";
@fa-var-tags: "\f02c";
@fa-var-tasks: "\f0ae";
@fa-var-taxi: "\f1ba";
@fa-var-tencent-weibo: "\f1d5";
@fa-var-terminal: "\f120";
@fa-var-text-height: "\f034";
@fa-var-text-width: "\f035";
@fa-var-th: "\f00a";
@fa-var-th-large: "\f009";
@fa-var-th-list: "\f00b";
@fa-var-thumb-tack: "\f08d";
@fa-var-thumbs-down: "\f165";
@fa-var-thumbs-o-down: "\f088";
@fa-var-thumbs-o-up: "\f087";
@fa-var-thumbs-up: "\f164";
@fa-var-ticket: "\f145";
@fa-var-times: "\f00d";
@fa-var-times-circle: "\f057";
@fa-var-times-circle-o: "\f05c";
@fa-var-tint: "\f043";
@fa-var-toggle-down: "\f150";
@fa-var-toggle-left: "\f191";
@fa-var-toggle-off: "\f204";
@fa-var-toggle-on: "\f205";
@fa-var-toggle-right: "\f152";
@fa-var-toggle-up: "\f151";
@fa-var-trash: "\f1f8";
@fa-var-trash-o: "\f014";
@fa-var-tree: "\f1bb";
@fa-var-trello: "\f181";
@fa-var-trophy: "\f091";
@fa-var-truck: "\f0d1";
@fa-var-try: "\f195";
@fa-var-tty: "\f1e4";
@fa-var-tumblr: "\f173";
@fa-var-tumblr-square: "\f174";
@fa-var-turkish-lira: "\f195";
@fa-var-twitch: "\f1e8";
@fa-var-twitter: "\f099";
@fa-var-twitter-square: "\f081";
@fa-var-umbrella: "\f0e9";
@fa-var-underline: "\f0cd";
@fa-var-undo: "\f0e2";
@fa-var-university: "\f19c";
@fa-var-unlink: "\f127";
@fa-var-unlock: "\f09c";
@fa-var-unlock-alt: "\f13e";
@fa-var-unsorted: "\f0dc";
@fa-var-upload: "\f093";
@fa-var-usd: "\f155";
@fa-var-user: "\f007";
@fa-var-user-md: "\f0f0";
@fa-var-users: "\f0c0";
@fa-var-video-camera: "\f03d";
@fa-var-vimeo-square: "\f194";
@fa-var-vine: "\f1ca";
@fa-var-vk: "\f189";
@fa-var-volume-down: "\f027";
@fa-var-volume-off: "\f026";
@fa-var-volume-up: "\f028";
@fa-var-warning: "\f071";
@fa-var-wechat: "\f1d7";
@fa-var-weibo: "\f18a";
@fa-var-weixin: "\f1d7";
@fa-var-wheelchair: "\f193";
@fa-var-wifi: "\f1eb";
@fa-var-windows: "\f17a";
@fa-var-won: "\f159";
@fa-var-wordpress: "\f19a";
@fa-var-wrench: "\f0ad";
@fa-var-xing: "\f168";
@fa-var-xing-square: "\f169";
@fa-var-yahoo: "\f19e";
@fa-var-yelp: "\f1e9";
@fa-var-yen: "\f157";
@fa-var-youtube: "\f167";
@fa-var-youtube-play: "\f16a";
@fa-var-youtube-square: "\f166";


// Mixins
// --------------------------
.fa-icon() {
  display: inline-block;
  font-family: 'PageLinesFont';
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-icon-rotate(@degrees, @rotation) {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@rotation);
  -webkit-transform: rotate(@degrees);
      -ms-transform: rotate(@degrees);
          transform: rotate(@degrees);
}

.fa-icon-flip(@horiz, @vert, @rotation) {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@rotation, mirror=1);
  -webkit-transform: scale(@horiz, @vert);
      -ms-transform: scale(@horiz, @vert);
          transform: scale(@horiz, @vert);
}

@font-face {
  font-family: 'PageLinesFont';
  src: url('@{fa-font-path}/fontawesome-webfont.eot?v=@{fa-version}');
  src: url('@{fa-font-path}/fontawesome-webfont.eot?#iefix&v=@{fa-version}') format('embedded-opentype'),
    url('@{fa-font-path}/fontawesome-webfont.woff?v=@{fa-version}') format('woff'),
    url('@{fa-font-path}/fontawesome-webfont.ttf?v=@{fa-version}') format('truetype'),
    url('@{fa-font-path}/fontawesome-webfont.svg?v=@{fa-version}#fontawesomeregular') format('svg');
//  src: url('@{fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}

.@{fa-css-prefix}, .fa {
  display: inline-block;
  font-family: PageLinesFont;
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Icon Sizes
// -------------------------

/* makes the font 33% larger relative to the icon container */
.@{fa-css-prefix}-lg, .fa-lg {
  font-size: (4em / 3);
  line-height: (3em / 4);
  vertical-align: -15%;
}
.@{fa-css-prefix}-2x, .fa-2x { font-size: 2em; }
.@{fa-css-prefix}-3x, .fa-3x { font-size: 3em; }
.@{fa-css-prefix}-4x, .fa-4x { font-size: 4em; }
.@{fa-css-prefix}-5x, .fa-5x { font-size: 5em; }

// Fixed Width Icons
// -------------------------
.@{fa-css-prefix}-fw, .fa-fw {
  width: (18em / 14);
  text-align: center;
}

// List Icons
// -------------------------

.@{fa-css-prefix}-ul, .fa-ul {
  padding-left: 0;
  margin-left: @fa-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.@{fa-css-prefix}-li, .fa-li {
  left: -@fa-li-width;
  width: @fa-li-width;
  top: (2em / 14);
  text-align: center;
  &.@{fa-css-prefix}-lg, fa-lg {
    left: -@fa-li-width + (4em / 14);
  }
}

// Bordered & Pulled
// -------------------------

.@{fa-css-prefix}-border, .fa-border {
  padding: .2em .25em .15em;
  border: solid .08em @fa-border-color;
  border-radius: .1em;
}

.pull-right { float: right; }
.pull-left { float: left; }

.@{fa-css-prefix}, .fa {
  &.pull-left { margin-right: .3em; }
  &.pull-right { margin-left: .3em; }
}

// Spinning Icons
// --------------------------

.@{fa-css-prefix}-spin, .fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

// Rotated & Flipped Icons
// -------------------------

.@{fa-css-prefix}-rotate-90, .fa-rotate-90 { .fa-icon-rotate(90deg, 1);  }
.@{fa-css-prefix}-rotate-180, .fa-rotate-180 { .fa-icon-rotate(180deg, 2); }
.@{fa-css-prefix}-rotate-270, .fa-rotate-270 { .fa-icon-rotate(270deg, 3); }

.@{fa-css-prefix}-flip-horizontal, .fa-flip-horizontal { .fa-icon-flip(-1, 1, 0); }
.@{fa-css-prefix}-flip-vertical, .fa-flip-vrtical   { .fa-icon-flip(1, -1, 2); }

// Hook for IE8-9
// -------------------------

:root .@{fa-css-prefix}-rotate-90,
:root .@{fa-css-prefix}-rotate-180,
:root .@{fa-css-prefix}-rotate-270,
:root .@{fa-css-prefix}-flip-horizontal,
:root .@{fa-css-prefix}-flip-vertical,
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}

// Stacked Icons
// -------------------------

.@{fa-css-prefix}-stack, .fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.@{fa-css-prefix}-stack-1x, .@{fa-css-prefix}-stack-2x, .fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.@{fa-css-prefix}-stack-1x, .fa-stack-1x { line-height: inherit; }
.@{fa-css-prefix}-stack-2x, .fa-stack-2x { font-size: 2em; }
.@{fa-css-prefix}-inverse, .fa-inverse { color: @fa-inverse; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */

.@{fa-css-prefix}-glass:before, .fa-glass:before { content: @fa-var-glass; }
.@{fa-css-prefix}-music:before, .fa-music:before { content: @fa-var-music; }
.@{fa-css-prefix}-search:before, .fa-search:before { content: @fa-var-search; }
.@{fa-css-prefix}-envelope-o:before, .fa-envelope-o:before { content: @fa-var-envelope-o; }
.@{fa-css-prefix}-heart:before, .fa-heart:before { content: @fa-var-heart; }
.@{fa-css-prefix}-star:before, .fa-star:before { content: @fa-var-star; }
.@{fa-css-prefix}-star-o:before, .fa-star-o:before { content: @fa-var-star-o; }
.@{fa-css-prefix}-user:before, .fa-user:before { content: @fa-var-user; }
.@{fa-css-prefix}-film:before, .fa-film:before { content: @fa-var-film; }
.@{fa-css-prefix}-th-large:before, .fa-th-large:before { content: @fa-var-th-large; }
.@{fa-css-prefix}-th:before, .fa-th:before { content: @fa-var-th; }
.@{fa-css-prefix}-th-list:before, .fa-th-list:before { content: @fa-var-th-list; }
.@{fa-css-prefix}-check:before, .fa-check:before { content: @fa-var-check; }
.@{fa-css-prefix}-remove:before,
.@{fa-css-prefix}-close:before,
.@{fa-css-prefix}-times:before, .fa-remove:before, .fa-close:before, .fa-times:before { content: @fa-var-times; }
.@{fa-css-prefix}-search-plus:before, .fa-search-plus:before { content: @fa-var-search-plus; }
.@{fa-css-prefix}-search-minus:before, .fa-search-minus:before { content: @fa-var-search-minus; }
.@{fa-css-prefix}-power-off:before, .fa-power-off:before { content: @fa-var-power-off; }
.@{fa-css-prefix}-signal:before, .fa-signal:before { content: @fa-var-signal; }
.@{fa-css-prefix}-gear:before,
.@{fa-css-prefix}-cog:before, .fa-gear:before, .fa-cog:before { content: @fa-var-cog; }
.@{fa-css-prefix}-trash-o:before, .fa-trash-o:before { content: @fa-var-trash-o; }
.@{fa-css-prefix}-home:before, .fa-home:before { content: @fa-var-home; }
.@{fa-css-prefix}-file-o:before, .fa-file-o:before { content: @fa-var-file-o; }
.@{fa-css-prefix}-clock-o:before, .fa-clock-o:before { content: @fa-var-clock-o; }
.@{fa-css-prefix}-road:before, .fa-road:before { content: @fa-var-road; }
.@{fa-css-prefix}-download:before, .fa-download:before { content: @fa-var-download; }
.@{fa-css-prefix}-arrow-circle-o-down:before, .fa-arrow-circle-o-down:before { content: @fa-var-arrow-circle-o-down; }
.@{fa-css-prefix}-arrow-circle-o-up:before, .fa-arrow-circle-o-up:before { content: @fa-var-arrow-circle-o-up; }
.@{fa-css-prefix}-inbox:before, .fa-inbox:before { content: @fa-var-inbox; }
.@{fa-css-prefix}-play-circle-o:before, .fa-play-circle-o:before { content: @fa-var-play-circle-o; }
.@{fa-css-prefix}-rotate-right:before,
.@{fa-css-prefix}-repeat:before, .fa-rotate-right:before, .fa-repeat:before { content: @fa-var-repeat; }
.@{fa-css-prefix}-refresh:before, .fa-refresh:before { content: @fa-var-refresh; }
.@{fa-css-prefix}-list-alt:before, .fa-list-alt:before { content: @fa-var-list-alt; }
.@{fa-css-prefix}-lock:before, .fa-lock:before { content: @fa-var-lock; }
.@{fa-css-prefix}-flag:before, .fa-flag:before { content: @fa-var-flag; }
.@{fa-css-prefix}-headphones:before, .fa-headphones:before { content: @fa-var-headphones; }
.@{fa-css-prefix}-volume-off:before, .fa-volume-off:before { content: @fa-var-volume-off; }
.@{fa-css-prefix}-volume-down:before, .fa-volume-down:before { content: @fa-var-volume-down; }
.@{fa-css-prefix}-volume-up:before, .fa-volume-up:before { content: @fa-var-volume-up; }
.@{fa-css-prefix}-qrcode:before, .fa-qrcode:before { content: @fa-var-qrcode; }
.@{fa-css-prefix}-barcode:before, .fa-barcode:before { content: @fa-var-barcode; }
.@{fa-css-prefix}-tag:before, .fa-tag:before { content: @fa-var-tag; }
.@{fa-css-prefix}-tags:before, .fa-tags:before { content: @fa-var-tags; }
.@{fa-css-prefix}-book:before, .fa-book:before { content: @fa-var-book; }
.@{fa-css-prefix}-bookmark:before, .fa-bookmark:before { content: @fa-var-bookmark; }
.@{fa-css-prefix}-print:before, .fa-print:before { content: @fa-var-print; }
.@{fa-css-prefix}-camera:before, .fa-camera:before { content: @fa-var-camera; }
.@{fa-css-prefix}-font:before, .fa-font:before { content: @fa-var-font; }
.@{fa-css-prefix}-bold:before, .fa-bold:before { content: @fa-var-bold; }
.@{fa-css-prefix}-italic:before, .fa-italic:before { content: @fa-var-italic; }
.@{fa-css-prefix}-text-height:before, .fa-text-height:before { content: @fa-var-text-height; }
.@{fa-css-prefix}-text-width:before, .fa-text-width:before { content: @fa-var-text-width; }
.@{fa-css-prefix}-align-left:before, .fa-align-left:before { content: @fa-var-align-left; }
.@{fa-css-prefix}-align-center:before, .fa-align-center:before { content: @fa-var-align-center; }
.@{fa-css-prefix}-align-right:before, .fa-align-right:before { content: @fa-var-align-right; }
.@{fa-css-prefix}-align-justify:before, .fa-align-justify:before { content: @fa-var-align-justify; }
.@{fa-css-prefix}-list:before, .fa-list:before { content: @fa-var-list; }
.@{fa-css-prefix}-dedent:before,
.@{fa-css-prefix}-outdent:before, .fa-dedent:before, .fa-outdent:before { content: @fa-var-outdent; }
.@{fa-css-prefix}-indent:before, .fa-indent:before { content: @fa-var-indent; }
.@{fa-css-prefix}-video-camera:before, .fa-video-camera:before { content: @fa-var-video-camera; }
.@{fa-css-prefix}-photo:before,
.@{fa-css-prefix}-image:before,
.@{fa-css-prefix}-picture-o:before, .fa-photo:before, .fa-image:before, .fa-picture-o:before { content: @fa-var-picture-o; }
.@{fa-css-prefix}-pencil:before, .fa-pencil:before { content: @fa-var-pencil; }
.@{fa-css-prefix}-map-marker:before, .fa-map-marker:before { content: @fa-var-map-marker; }
.@{fa-css-prefix}-adjust:before, .fa-adjust:before { content: @fa-var-adjust; }
.@{fa-css-prefix}-tint:before, .fa-tint:before { content: @fa-var-tint; }
.@{fa-css-prefix}-edit:before,
.@{fa-css-prefix}-pencil-square-o:before, .fa-edit:before { content: @fa-var-pencil-square-o; }
.@{fa-css-prefix}-share-square-o:before, .fa-share-square-o:before { content: @fa-var-share-square-o; }
.@{fa-css-prefix}-check-square-o:before, .fa-check-square-o:before { content: @fa-var-check-square-o; }
.@{fa-css-prefix}-arrows:before, .fa-arrows:before { content: @fa-var-arrows; }
.@{fa-css-prefix}-step-backward:before, .fa-step-backward:before { content: @fa-var-step-backward; }
.@{fa-css-prefix}-fast-backward:before, .fa-fast-backward:before { content: @fa-var-fast-backward; }
.@{fa-css-prefix}-backward:before, .fa-backward:before { content: @fa-var-backward; }
.@{fa-css-prefix}-play:before, .fa-play:before { content: @fa-var-play; }
.@{fa-css-prefix}-pause:before, .fa-pause:before { content: @fa-var-pause; }
.@{fa-css-prefix}-stop:before, .fa-stop:before { content: @fa-var-stop; }
.@{fa-css-prefix}-forward:before, .fa-forward:before { content: @fa-var-forward; }
.@{fa-css-prefix}-fast-forward:before, .fa-fast-forward:before { content: @fa-var-fast-forward; }
.@{fa-css-prefix}-step-forward:before, .fa-step-forward:before { content: @fa-var-step-forward; }
.@{fa-css-prefix}-eject:before, .fa-eject:before { content: @fa-var-eject; }
.@{fa-css-prefix}-chevron-left:before, .fa-chevron-left:before { content: @fa-var-chevron-left; }
.@{fa-css-prefix}-chevron-right:before, .fa-chevron-right:before { content: @fa-var-chevron-right; }
.@{fa-css-prefix}-plus-circle:before, .fa-plus-circle:before { content: @fa-var-plus-circle; }
.@{fa-css-prefix}-minus-circle:before, .fa-minus-circle:before { content: @fa-var-minus-circle; }
.@{fa-css-prefix}-times-circle:before, .fa-times-circle:before { content: @fa-var-times-circle; }
.@{fa-css-prefix}-check-circle:before, .fa-check-circle:before { content: @fa-var-check-circle; }
.@{fa-css-prefix}-question-circle:before, .fa-question-circle:before { content: @fa-var-question-circle; }
.@{fa-css-prefix}-info-circle:before, .fa-info-circle:before { content: @fa-var-info-circle; }
.@{fa-css-prefix}-crosshairs:before, .fa-crosshairs:before { content: @fa-var-crosshairs; }
.@{fa-css-prefix}-times-circle-o:before, .fa-times-circle-o:before { content: @fa-var-times-circle-o; }
.@{fa-css-prefix}-check-circle-o:before, .fa-check-circle-o:before { content: @fa-var-check-circle-o; }
.@{fa-css-prefix}-ban:before, .fa-ban:before { content: @fa-var-ban; }
.@{fa-css-prefix}-arrow-left:before, .fa-arrow-left:before { content: @fa-var-arrow-left; }
.@{fa-css-prefix}-arrow-right:before, .fa-arrow-right:before { content: @fa-var-arrow-right; }
.@{fa-css-prefix}-arrow-up:before, .fa-arrow-up:before { content: @fa-var-arrow-up; }
.@{fa-css-prefix}-arrow-down:before, .fa-arrow-down:before { content: @fa-var-arrow-down; }
.@{fa-css-prefix}-mail-forward:before,
.@{fa-css-prefix}-share:before, .fa-mail-forward:before, .fa-share:before { content: @fa-var-share; }
.@{fa-css-prefix}-expand:before, .fa-expand:before { content: @fa-var-expand; }
.@{fa-css-prefix}-compress:before, .fa-compress:before { content: @fa-var-compress; }
.@{fa-css-prefix}-plus:before, .fa-plus:before { content: @fa-var-plus; }
.@{fa-css-prefix}-minus:before, .fa-minus:before { content: @fa-var-minus; }
.@{fa-css-prefix}-asterisk:before, .fa-asterisk:before { content: @fa-var-asterisk; }
.@{fa-css-prefix}-exclamation-circle:before, .fa-exclamation-circle:before { content: @fa-var-exclamation-circle; }
.@{fa-css-prefix}-gift:before, .fa-gift:before { content: @fa-var-gift; }
.@{fa-css-prefix}-leaf:before, .fa-leaf:before { content: @fa-var-leaf; }
.@{fa-css-prefix}-fire:before, .fa-fire:before { content: @fa-var-fire; }
.@{fa-css-prefix}-eye:before, .fa-eye:before { content: @fa-var-eye; }
.@{fa-css-prefix}-eye-slash:before, .fa-eye-slash:before { content: @fa-var-eye-slash; }
.@{fa-css-prefix}-warning:before,
.@{fa-css-prefix}-exclamation-triangle:before, .fa-warning:before, .fa-exclamation-triangle:before { content: @fa-var-exclamation-triangle; }
.@{fa-css-prefix}-plane:before, .fa-plane:before { content: @fa-var-plane; }
.@{fa-css-prefix}-calendar:before, .fa-calendar:before { content: @fa-var-calendar; }
.@{fa-css-prefix}-random:before, .fa-random:before { content: @fa-var-random; }
.@{fa-css-prefix}-comment:before, .fa-comment:before { content: @fa-var-comment; }
.@{fa-css-prefix}-magnet:before, .fa-magnet:before { content: @fa-var-magnet; }
.@{fa-css-prefix}-chevron-up:before, .fa-chevron-up:before { content: @fa-var-chevron-up; }
.@{fa-css-prefix}-chevron-down:before, .fa-chevron-down:before { content: @fa-var-chevron-down; }
.@{fa-css-prefix}-retweet:before, .fa-retweet:before { content: @fa-var-retweet; }
.@{fa-css-prefix}-shopping-cart:before, .fa-shopping-cart:before { content: @fa-var-shopping-cart; }
.@{fa-css-prefix}-folder:before, .fa-folder:before { content: @fa-var-folder; }
.@{fa-css-prefix}-folder-open:before, .fa-folder-open:before { content: @fa-var-folder-open; }
.@{fa-css-prefix}-arrows-v:before, .fa-arrows-v:before { content: @fa-var-arrows-v; }
.@{fa-css-prefix}-arrows-h:before, .fa-arrows-h:before { content: @fa-var-arrows-h; }
.@{fa-css-prefix}-bar-chart-o:before,
.@{fa-css-prefix}-bar-chart:before, .fa-bar-chart-o:before { content: @fa-var-bar-chart; }
.@{fa-css-prefix}-twitter-square:before, .fa-twitter-square:before { content: @fa-var-twitter-square; }
.@{fa-css-prefix}-facebook-square:before, .fa-facebook-square:before { content: @fa-var-facebook-square; }
.@{fa-css-prefix}-camera-retro:before, .fa-camera-retro:before { content: @fa-var-camera-retro; }
.@{fa-css-prefix}-key:before, .fa-key:before { content: @fa-var-key; }
.@{fa-css-prefix}-gears:before,
.@{fa-css-prefix}-cogs:before, .fa-gears:before, .fa-cogs:before { content: @fa-var-cogs; }
.@{fa-css-prefix}-comments:before, .fa-comments:before { content: @fa-var-comments; }
.@{fa-css-prefix}-thumbs-o-up:before, .fa-thumbs-o-up:before { content: @fa-var-thumbs-o-up; }
.@{fa-css-prefix}-thumbs-o-down:before, .fa-thumbs-o-down:before { content: @fa-var-thumbs-o-down; }
.@{fa-css-prefix}-star-half:before, .fa-star-half:before { content: @fa-var-star-half; }
.@{fa-css-prefix}-heart-o:before, .fa-heart-o:before { content: @fa-var-heart-o; }
.@{fa-css-prefix}-sign-out:before, .fa-sign-out:before { content: @fa-var-sign-out; }
.@{fa-css-prefix}-linkedin-square:before, .fa-linkedin-square:before { content: @fa-var-linkedin-square; }
.@{fa-css-prefix}-thumb-tack:before, .fa-thumb-tack:before { content: @fa-var-thumb-tack; }
.@{fa-css-prefix}-external-link:before, .fa-external-link:before { content: @fa-var-external-link; }
.@{fa-css-prefix}-sign-in:before, .fa-sign-in:before { content: @fa-var-sign-in; }
.@{fa-css-prefix}-trophy:before, .fa-trophy:before { content: @fa-var-trophy; }
.@{fa-css-prefix}-github-square:before, .fa-github-square:before { content: @fa-var-github-square; }
.@{fa-css-prefix}-upload:before, .fa-upload:before { content: @fa-var-upload; }
.@{fa-css-prefix}-lemon-o:before, .fa-lemon-o:before { content: @fa-var-lemon-o; }
.@{fa-css-prefix}-phone:before, .fa-phone:before { content: @fa-var-phone; }
.@{fa-css-prefix}-square-o:before, .fa-square-o:before { content: @fa-var-square-o; }
.@{fa-css-prefix}-bookmark-o:before, .fa-bookmark-o:before { content: @fa-var-bookmark-o; }
.@{fa-css-prefix}-phone-square:before, .fa-phone-square:before { content: @fa-var-phone-square; }
.@{fa-css-prefix}-twitter:before, .fa-twitter:before { content: @fa-var-twitter; }
.@{fa-css-prefix}-facebook:before, .fa-facebook:before { content: @fa-var-facebook; }
.@{fa-css-prefix}-github:before, .fa-github:before { content: @fa-var-github; }
.@{fa-css-prefix}-unlock:before, .fa-unlock:before { content: @fa-var-unlock; }
.@{fa-css-prefix}-credit-card:before, .fa-credit-card:before { content: @fa-var-credit-card; }
.@{fa-css-prefix}-rss:before, .fa-rss:before { content: @fa-var-rss; }
.@{fa-css-prefix}-hdd-o:before, .fa-hdd-o:before { content: @fa-var-hdd-o; }
.@{fa-css-prefix}-bullhorn:before, .fa-bullhorn:before { content: @fa-var-bullhorn; }
.@{fa-css-prefix}-bell:before, .fa-bell:before { content: @fa-var-bell; }
.@{fa-css-prefix}-certificate:before, .fa-certificate:before { content: @fa-var-certificate; }
.@{fa-css-prefix}-hand-o-right:before, .fa-hand-o-right:before { content: @fa-var-hand-o-right; }
.@{fa-css-prefix}-hand-o-left:before, .fa-hand-o-left:before { content: @fa-var-hand-o-left; }
.@{fa-css-prefix}-hand-o-up:before, .fa-hand-o-up:before { content: @fa-var-hand-o-up; }
.@{fa-css-prefix}-hand-o-down:before, .fa-hand-o-down:before { content: @fa-var-hand-o-down; }
.@{fa-css-prefix}-arrow-circle-left:before, .fa-arrow-circle-left:before { content: @fa-var-arrow-circle-left; }
.@{fa-css-prefix}-arrow-circle-right:before, .fa-arrow-circle-right:before { content: @fa-var-arrow-circle-right; }
.@{fa-css-prefix}-arrow-circle-up:before, .fa-arrow-circle-up:before { content: @fa-var-arrow-circle-up; }
.@{fa-css-prefix}-arrow-circle-down:before, .fa-arrow-circle-down:before { content: @fa-var-arrow-circle-down; }
.@{fa-css-prefix}-globe:before, .fa-globe:before { content: @fa-var-globe; }
.@{fa-css-prefix}-wrench:before, .fa-wrench:before { content: @fa-var-wrench; }
.@{fa-css-prefix}-tasks:before, .fa-tasks:before { content: @fa-var-tasks; }
.@{fa-css-prefix}-filter:before, .fa-filter:before { content: @fa-var-filter; }
.@{fa-css-prefix}-briefcase:before, .fa-briefcase:before { content: @fa-var-briefcase; }
.@{fa-css-prefix}-arrows-alt:before, .fa-arrows-alt:before { content: @fa-var-arrows-alt; }
.@{fa-css-prefix}-group:before,
.@{fa-css-prefix}-users:before, .fa-group:before, .fa-users:before { content: @fa-var-users; }
.@{fa-css-prefix}-chain:before,
.@{fa-css-prefix}-link:before, .fa-chain:before, .fa-link:before { content: @fa-var-link; }
.@{fa-css-prefix}-cloud:before, .fa-cloud:before { content: @fa-var-cloud; }
.@{fa-css-prefix}-flask:before, .fa-flask:before { content: @fa-var-flask; }
.@{fa-css-prefix}-cut:before,
.@{fa-css-prefix}-scissors:before, .fa-cut:before { content: @fa-var-scissors; }
.@{fa-css-prefix}-copy:before,
.@{fa-css-prefix}-files-o:before, .fa-copy:before, .fa-files-o:before { content: @fa-var-files-o; }
.@{fa-css-prefix}-paperclip:before, .fa-paperclip:before { content: @fa-var-paperclip; }
.@{fa-css-prefix}-save:before,
.@{fa-css-prefix}-floppy-o:before, .fa-save:before { content: @fa-var-floppy-o; }
.@{fa-css-prefix}-square:before, .fa-square:before { content: @fa-var-square; }
.@{fa-css-prefix}-navicon:before,
.@{fa-css-prefix}-reorder:before,
.@{fa-css-prefix}-bars:before, .fa-bars:before, .fa-navicon:before, .fa-reorder:before { content: @fa-var-bars; }
.@{fa-css-prefix}-list-ul:before, .fa-list-ul:before { content: @fa-var-list-ul; }
.@{fa-css-prefix}-list-ol:before, .fa-list-ol:before { content: @fa-var-list-ol; }
.@{fa-css-prefix}-strikethrough:before, .fa-strikethrough:before { content: @fa-var-strikethrough; }
.@{fa-css-prefix}-underline:before, .fa-underline:before { content: @fa-var-underline; }
.@{fa-css-prefix}-table:before, .fa-table:before { content: @fa-var-table; }
.@{fa-css-prefix}-magic:before, .fa-magic:before { content: @fa-var-magic; }
.@{fa-css-prefix}-truck:before, .fa-truck:before { content: @fa-var-truck; }
.@{fa-css-prefix}-pinterest:before, .fa-pinterest:before { content: @fa-var-pinterest; }
.@{fa-css-prefix}-pinterest-square:before, .fa-pinterest-square:before { content: @fa-var-pinterest-square; }
.@{fa-css-prefix}-google-plus-square:before, .fa-google-plus-square:before { content: @fa-var-google-plus-square; }
.@{fa-css-prefix}-google-plus:before, .fa-google-plus:before { content: @fa-var-google-plus; }
.@{fa-css-prefix}-money:before, .fa-money:before { content: @fa-var-money; }
.@{fa-css-prefix}-caret-down:before, .fa-caret-down:before { content: @fa-var-caret-down; }
.@{fa-css-prefix}-caret-up:before, .fa-caret-up:before { content: @fa-var-caret-up; }
.@{fa-css-prefix}-caret-left:before, .fa-caret-left:before { content: @fa-var-caret-left; }
.@{fa-css-prefix}-caret-right:before, .fa-caret-right:before { content: @fa-var-caret-right; }
.@{fa-css-prefix}-columns:before, .fa-columns:before { content: @fa-var-columns; }
.@{fa-css-prefix}-unsorted:before,
.@{fa-css-prefix}-sort:before, .fa-sort:before, .fa-unsorted:before { content: @fa-var-sort; }
.@{fa-css-prefix}-sort-down:before,
.@{fa-css-prefix}-sort-desc:before, .fa-sort-down:before, .fa-sort-desc:before { content: @fa-var-sort-desc; }
.@{fa-css-prefix}-sort-up:before,
.@{fa-css-prefix}-sort-asc:before, .fa-sort-up:before, .fa-sort-asc:before { content: @fa-var-sort-asc; }
.@{fa-css-prefix}-envelope:before, .fa-envelope:before { content: @fa-var-envelope; }
.@{fa-css-prefix}-linkedin:before, .fa-linkedin:before { content: @fa-var-linkedin; }
.@{fa-css-prefix}-rotate-left:before,
.@{fa-css-prefix}-undo:before, .fa-undo:before, .fa-rotate-left:before { content: @fa-var-undo; }
.@{fa-css-prefix}-legal:before,
.@{fa-css-prefix}-gavel:before, .fa-gavel:before, .fa-legal:before { content: @fa-var-gavel; }
.@{fa-css-prefix}-dashboard:before,
.@{fa-css-prefix}-tachometer:before, .fa-tachometer:before, .fa-dashboard:before { content: @fa-var-tachometer; }
.@{fa-css-prefix}-comment-o:before, .fa-comment-o:before { content: @fa-var-comment-o; }
.@{fa-css-prefix}-comments-o:before, .fa-comments-o:before { content: @fa-var-comments-o; }
.@{fa-css-prefix}-flash:before,
.@{fa-css-prefix}-bolt:before, .fa-bolt:before, .fa-flash:before { content: @fa-var-bolt; }
.@{fa-css-prefix}-sitemap:before, .fa-sitemap:before { content: @fa-var-sitemap; }
.@{fa-css-prefix}-umbrella:before, .fa-umbrella:before { content: @fa-var-umbrella; }
.@{fa-css-prefix}-paste:before,
.@{fa-css-prefix}-clipboard:before, .fa-clipboard:before, .fa-paste:before { content: @fa-var-clipboard; }
.@{fa-css-prefix}-lightbulb-o:before, .fa-lightbulb-o:before { content: @fa-var-lightbulb-o; }
.@{fa-css-prefix}-exchange:before, .fa-exchange:before { content: @fa-var-exchange; }
.@{fa-css-prefix}-cloud-download:before, .fa-cloud-download:before { content: @fa-var-cloud-download; }
.@{fa-css-prefix}-cloud-upload:before, .fa-cloud-upload:before { content: @fa-var-cloud-upload; }
.@{fa-css-prefix}-user-md:before, .fa-user-md:before { content: @fa-var-user-md; }
.@{fa-css-prefix}-stethoscope:before, .fa-stethoscope:before { content: @fa-var-stethoscope; }
.@{fa-css-prefix}-suitcase:before, .fa-suitcase:before { content: @fa-var-suitcase; }
.@{fa-css-prefix}-bell-o:before, .fa-bell-o:before { content: @fa-var-bell-o; }
.@{fa-css-prefix}-coffee:before, .fa-coffee:before { content: @fa-var-coffee; }
.@{fa-css-prefix}-cutlery:before, .fa-cutlery:before { content: @fa-var-cutlery; }
.@{fa-css-prefix}-file-text-o:before, .fa-file-text-o:before { content: @fa-var-file-text-o; }
.@{fa-css-prefix}-building-o:before, .fa-building-o:before { content: @fa-var-building-o; }
.@{fa-css-prefix}-hospital-o:before, .fa-hospital-o:before { content: @fa-var-hospital-o; }
.@{fa-css-prefix}-ambulance:before, .fa-ambulance:before { content: @fa-var-ambulance; }
.@{fa-css-prefix}-medkit:before, .fa-medkit:before { content: @fa-var-medkit; }
.@{fa-css-prefix}-fighter-jet:before, .fa-fighter-jet:before { content: @fa-var-fighter-jet; }
.@{fa-css-prefix}-beer:before, .fa-beer:before { content: @fa-var-beer; }
.@{fa-css-prefix}-h-square:before, .fa-h-square:before { content: @fa-var-h-square; }
.@{fa-css-prefix}-plus-square:before, .fa-plus-square:before { content: @fa-var-plus-square; }
.@{fa-css-prefix}-angle-double-left:before, .fa-angle-double-left:before { content: @fa-var-angle-double-left; }
.@{fa-css-prefix}-angle-double-right:before, .fa-angle-double-right:before { content: @fa-var-angle-double-right; }
.@{fa-css-prefix}-angle-double-up:before, .fa-angle-double-up:before { content: @fa-var-angle-double-up; }
.@{fa-css-prefix}-angle-double-down:before, .fa-angle-double-down:before { content: @fa-var-angle-double-down; }
.@{fa-css-prefix}-angle-left:before, .fa-angle-left:before { content: @fa-var-angle-left; }
.@{fa-css-prefix}-angle-right:before, .fa-angle-right:before { content: @fa-var-angle-right; }
.@{fa-css-prefix}-angle-up:before, .fa-angle-up:before { content: @fa-var-angle-up; }
.@{fa-css-prefix}-angle-down:before, .fa-angle-down:before { content: @fa-var-angle-down; }
.@{fa-css-prefix}-desktop:before, .fa-desktop:before { content: @fa-var-desktop; }
.@{fa-css-prefix}-laptop:before, .fa-laptop:before { content: @fa-var-laptop; }
.@{fa-css-prefix}-tablet:before, .fa-tablet:before { content: @fa-var-tablet; }
.@{fa-css-prefix}-mobile-phone:before,
.@{fa-css-prefix}-mobile:before, .fa-mobile:before, .fa-mobile-phone:before { content: @fa-var-mobile; }
.@{fa-css-prefix}-circle-o:before, .fa-circle-o:before { content: @fa-var-circle-o; }
.@{fa-css-prefix}-quote-left:before, .fa-quote-left:before { content: @fa-var-quote-left; }
.@{fa-css-prefix}-quote-right:before, .fa-quote-right:before { content: @fa-var-quote-right; }
.@{fa-css-prefix}-spinner:before, .fa-spinner:before { content: @fa-var-spinner; }
.@{fa-css-prefix}-circle:before, .fa-circle:before { content: @fa-var-circle; }
.@{fa-css-prefix}-mail-reply:before,
.@{fa-css-prefix}-reply:before, .fa-reply:before, .fa-mail-reply:before { content: @fa-var-reply; }
.@{fa-css-prefix}-github-alt:before, .fa-github-alt:before { content: @fa-var-github-alt; }
.@{fa-css-prefix}-folder-o:before, .fa-folder-o:before { content: @fa-var-folder-o; }
.@{fa-css-prefix}-folder-open-o:before, .fa-folder-open-o:before { content: @fa-var-folder-open-o; }
.@{fa-css-prefix}-smile-o:before, .fa-smile-o:before { content: @fa-var-smile-o; }
.@{fa-css-prefix}-frown-o:before, .fa-frown-o:before { content: @fa-var-frown-o; }
.@{fa-css-prefix}-meh-o:before, .fa-meh-o:before { content: @fa-var-meh-o; }
.@{fa-css-prefix}-gamepad:before, .fa-gamepad:before { content: @fa-var-gamepad; }
.@{fa-css-prefix}-keyboard-o:before, .fa-keyboard-o:before { content: @fa-var-keyboard-o; }
.@{fa-css-prefix}-flag-o:before, .fa-flag-o:before { content: @fa-var-flag-o; }
.@{fa-css-prefix}-flag-checkered:before, .fa-flag-checkered:before { content: @fa-var-flag-checkered; }
.@{fa-css-prefix}-terminal:before, .fa-terminal:before { content: @fa-var-terminal; }
.@{fa-css-prefix}-code:before, .fa-code:before { content: @fa-var-code; }
.@{fa-css-prefix}-mail-reply-all:before,
.@{fa-css-prefix}-reply-all:before, .fa-reply-all:before, .fa-mail-reply-all:before { content: @fa-var-reply-all; }
.@{fa-css-prefix}-star-half-empty:before,
.@{fa-css-prefix}-star-half-full:before,
.@{fa-css-prefix}-star-half-o:before, .fa-star-half-o:before, .fa-star-half-empty:before, .fa-star-half-full:before { content: @fa-var-star-half-o; }
.@{fa-css-prefix}-location-arrow:before, .fa-location-arrow:before { content: @fa-var-location-arrow; }
.@{fa-css-prefix}-crop:before, .fa-crop:before { content: @fa-var-crop; }
.@{fa-css-prefix}-code-fork:before, .fa-code-fork:before { content: @fa-var-code-fork; }
.@{fa-css-prefix}-unlink:before,
.@{fa-css-prefix}-chain-broken:before, .fa-chain-broken:before, .fa-unlink:before { content: @fa-var-chain-broken; }
.@{fa-css-prefix}-question:before, .fa-question:before { content: @fa-var-question; }
.@{fa-css-prefix}-info:before, .fa-info:before { content: @fa-var-info; }
.@{fa-css-prefix}-exclamation:before, .fa-exclamation:before { content: @fa-var-exclamation; }
.@{fa-css-prefix}-superscript:before, .fa-superscript:before { content: @fa-var-superscript; }
.@{fa-css-prefix}-subscript:before, .fa-subscript:before { content: @fa-var-subscript; }
.@{fa-css-prefix}-eraser:before, .fa-eraser:before { content: @fa-var-eraser; }
.@{fa-css-prefix}-puzzle-piece:before, .fa-puzzle-piece:before { content: @fa-var-puzzle-piece; }
.@{fa-css-prefix}-microphone:before, .fa-microphone:before { content: @fa-var-microphone; }
.@{fa-css-prefix}-microphone-slash:before, .fa-microphone-slash:before { content: @fa-var-microphone-slash; }
.@{fa-css-prefix}-shield:before, .fa-shield:before { content: @fa-var-shield; }
.@{fa-css-prefix}-calendar-o:before, .fa-calendar-o:before { content: @fa-var-calendar-o; }
.@{fa-css-prefix}-fire-extinguisher:before, .fa-fire-extinguisher:before { content: @fa-var-fire-extinguisher; }
.@{fa-css-prefix}-rocket:before, .fa-rocket:before { content: @fa-var-rocket; }
.@{fa-css-prefix}-maxcdn:before, .fa-maxcdn:before { content: @fa-var-maxcdn; }
.@{fa-css-prefix}-chevron-circle-left:before, .fa-chevron-circle-left:before { content: @fa-var-chevron-circle-left; }
.@{fa-css-prefix}-chevron-circle-right:before, .fa-chevron-circle-right:before { content: @fa-var-chevron-circle-right; }
.@{fa-css-prefix}-chevron-circle-up:before, .fa-chevron-circle-up:before { content: @fa-var-chevron-circle-up; }
.@{fa-css-prefix}-chevron-circle-down:before, .fa-chevron-circle-down:before { content: @fa-var-chevron-circle-down; }
.@{fa-css-prefix}-html5:before, .fa-html5:before { content: @fa-var-html5; }
.@{fa-css-prefix}-css3:before, .fa-css3:before { content: @fa-var-css3; }
.@{fa-css-prefix}-anchor:before, .fa-anchor:before { content: @fa-var-anchor; }
.@{fa-css-prefix}-unlock-alt:before, .fa-unlock-alt:before { content: @fa-var-unlock-alt; }
.@{fa-css-prefix}-bullseye:before, .fa-bullseye:before { content: @fa-var-bullseye; }
.@{fa-css-prefix}-ellipsis-h:before, .fa-ellipsis-h:before { content: @fa-var-ellipsis-h; }
.@{fa-css-prefix}-ellipsis-v:before, .fa-ellipsis-v:before { content: @fa-var-ellipsis-v; }
.@{fa-css-prefix}-rss-square:before, .fa-rss-square:before { content: @fa-var-rss-square; }
.@{fa-css-prefix}-play-circle:before, .fa-play-circle:before { content: @fa-var-play-circle; }
.@{fa-css-prefix}-ticket:before, .fa-ticket:before { content: @fa-var-ticket; }
.@{fa-css-prefix}-minus-square:before, .fa-minus-square:before { content: @fa-var-minus-square; }
.@{fa-css-prefix}-minus-square-o:before, .fa-minus-square-o:before { content: @fa-var-minus-square-o; }
.@{fa-css-prefix}-level-up:before, .fa-level-up:before { content: @fa-var-level-up; }
.@{fa-css-prefix}-level-down:before, .fa-level-down:before { content: @fa-var-level-down; }
.@{fa-css-prefix}-check-square:before, .fa-check-square:before { content: @fa-var-check-square; }
.@{fa-css-prefix}-pencil-square:before, .fa-pencil-square:before { content: @fa-var-pencil-square; }
.@{fa-css-prefix}-external-link-square:before, .fa-external-link-square:before { content: @fa-var-external-link-square; }
.@{fa-css-prefix}-share-square:before, .fa-share-square:before { content: @fa-var-share-square; }
.@{fa-css-prefix}-compass:before, .fa-compass:before { content: @fa-var-compass; }
.@{fa-css-prefix}-toggle-down:before,
.@{fa-css-prefix}-caret-square-o-down:before, .fa-caret-square-o-down:before, .fa-toggle-down:before { content: @fa-var-caret-square-o-down; }
.@{fa-css-prefix}-toggle-up:before,
.@{fa-css-prefix}-caret-square-o-up:before, .fa-caret-square-o-up:before, .fa-toggle-up:before { content: @fa-var-caret-square-o-up; }
.@{fa-css-prefix}-toggle-right:before,
.@{fa-css-prefix}-caret-square-o-right:before, .fa-caret-square-o-right:before, .fa-toggle-right:before { content: @fa-var-caret-square-o-right; }
.@{fa-css-prefix}-euro:before,
.@{fa-css-prefix}-eur:before, .fa-eur:before, .fa-euro:before { content: @fa-var-eur; }
.@{fa-css-prefix}-gbp:before, .fa-gbp:before { content: @fa-var-gbp; }
.@{fa-css-prefix}-dollar:before,
.@{fa-css-prefix}-usd:before, .fa-usd:before, .fa-dollar:before { content: @fa-var-usd; }
.@{fa-css-prefix}-rupee:before,
.@{fa-css-prefix}-inr:before, .fa-inr:before, .fa-rupee:before { content: @fa-var-inr; }
.@{fa-css-prefix}-cny:before,
.@{fa-css-prefix}-rmb:before,
.@{fa-css-prefix}-yen:before,
.@{fa-css-prefix}-jpy:before, .fa-jpy:before, .fa-cny:before, .fa-rmb:before, .fa-yen:before { content: @fa-var-jpy; }
.@{fa-css-prefix}-ruble:before,
.@{fa-css-prefix}-rouble:before,
.@{fa-css-prefix}-rub:before, .fa-rub:before, .fa-ruble:before, .fa-rouble:before { content: @fa-var-rub; }
.@{fa-css-prefix}-won:before,
.@{fa-css-prefix}-krw:before, .fa-krw:before, .fa-won:before { content: @fa-var-krw; }
.@{fa-css-prefix}-bitcoin:before,
.@{fa-css-prefix}-btc:before, .fa-btc:before, .fa-bitcoin:before { content: @fa-var-btc; }
.@{fa-css-prefix}-file:before, .fa-file:before { content: @fa-var-file; }
.@{fa-css-prefix}-file-text:before, .fa-file-text:before { content: @fa-var-file-text; }
.@{fa-css-prefix}-sort-alpha-asc:before, .fa-sort-alpha-asc:before { content: @fa-var-sort-alpha-asc; }
.@{fa-css-prefix}-sort-alpha-desc:before, .fa-sort-alpha-desc:before { content: @fa-var-sort-alpha-desc; }
.@{fa-css-prefix}-sort-amount-asc:before, .fa-sort-amount-asc:before { content: @fa-var-sort-amount-asc; }
.@{fa-css-prefix}-sort-amount-desc:before, .fa-sort-amount-desc:before { content: @fa-var-sort-amount-desc; }
.@{fa-css-prefix}-sort-numeric-asc:before, .fa-sort-numeric-asc:before { content: @fa-var-sort-numeric-asc; }
.@{fa-css-prefix}-sort-numeric-desc:before, .fa-sort-numeric-desc:before { content: @fa-var-sort-numeric-desc; }
.@{fa-css-prefix}-thumbs-up:before, .fa-thumbs-up:before { content: @fa-var-thumbs-up; }
.@{fa-css-prefix}-thumbs-down:before, .fa-thumbs-down:before { content: @fa-var-thumbs-down; }
.@{fa-css-prefix}-youtube-square:before, .fa-youtube-square:before { content: @fa-var-youtube-square; }
.@{fa-css-prefix}-youtube:before, .fa-youtube:before { content: @fa-var-youtube; }
.@{fa-css-prefix}-xing:before, .fa-xing:before { content: @fa-var-xing; }
.@{fa-css-prefix}-xing-square:before, .fa-xing-square:before { content: @fa-var-xing-square; }
.@{fa-css-prefix}-youtube-play:before, .fa-youtube-play:before { content: @fa-var-youtube-play; }
.@{fa-css-prefix}-dropbox:before, .fa-dropbox:before { content: @fa-var-dropbox; }
.@{fa-css-prefix}-stack-overflow:before, .fa-stack-overflow:before { content: @fa-var-stack-overflow; }
.@{fa-css-prefix}-instagram:before, .fa-instagram:before { content: @fa-var-instagram; }
.@{fa-css-prefix}-flickr:before, .fa-flickr:before { content: @fa-var-flickr; }
.@{fa-css-prefix}-adn:before, .fa-adn:before { content: @fa-var-adn; }
.@{fa-css-prefix}-bitbucket:before, .fa-bitbucket:before { content: @fa-var-bitbucket; }
.@{fa-css-prefix}-bitbucket-square:before, .fa-bitbucket-square:before { content: @fa-var-bitbucket-square; }
.@{fa-css-prefix}-tumblr:before, .fa-tumblr:before { content: @fa-var-tumblr; }
.@{fa-css-prefix}-tumblr-square:before, .fa-tumblr-square:before { content: @fa-var-tumblr-square; }
.@{fa-css-prefix}-long-arrow-down:before, .fa-long-arrow-down:before { content: @fa-var-long-arrow-down; }
.@{fa-css-prefix}-long-arrow-up:before, .fa-long-arrow-up:before { content: @fa-var-long-arrow-up; }
.@{fa-css-prefix}-long-arrow-left:before, .fa-long-arrow-left:before { content: @fa-var-long-arrow-left; }
.@{fa-css-prefix}-long-arrow-right:before, .fa-long-arrow-right:before { content: @fa-var-long-arrow-right; }
.@{fa-css-prefix}-apple:before, .fa-apple:before { content: @fa-var-apple; }
.@{fa-css-prefix}-windows:before, .fa-windows:before { content: @fa-var-windows; }
.@{fa-css-prefix}-android:before, .fa-android:before { content: @fa-var-android; }
.@{fa-css-prefix}-linux:before, .fa-linux:before { content: @fa-var-linux; }
.@{fa-css-prefix}-dribbble:before, .fa-dribbble:before { content: @fa-var-dribbble; }
.@{fa-css-prefix}-skype:before, .fa-skype:before { content: @fa-var-skype; }
.@{fa-css-prefix}-foursquare:before, .fa-foursquare:before { content: @fa-var-foursquare; }
.@{fa-css-prefix}-trello:before, .fa-trello:before { content: @fa-var-trello; }
.@{fa-css-prefix}-female:before, .fa-female:before { content: @fa-var-female; }
.@{fa-css-prefix}-male:before, .fa-male:before { content: @fa-var-male; }
.@{fa-css-prefix}-gittip:before, .fa-gittip:before { content: @fa-var-gittip; }
.@{fa-css-prefix}-sun-o:before, .fa-sun-o:before { content: @fa-var-sun-o; }
.@{fa-css-prefix}-moon-o:before, .fa-moon-o:before { content: @fa-var-moon-o; }
.@{fa-css-prefix}-archive:before, .fa-archive:before { content: @fa-var-archive; }
.@{fa-css-prefix}-bug:before, .fa-bug:before { content: @fa-var-bug; }
.@{fa-css-prefix}-vk:before, .fa-vk:before { content: @fa-var-vk; }
.@{fa-css-prefix}-weibo:before, .fa-weibo:before { content: @fa-var-weibo; }
.@{fa-css-prefix}-renren:before, .fa-renren:before { content: @fa-var-renren; }
.@{fa-css-prefix}-pagelines:before, .fa-pagelines:before { content: @fa-var-pagelines; }
.@{fa-css-prefix}-stack-exchange:before, .fa-stack-exchange:before { content: @fa-var-stack-exchange; }
.@{fa-css-prefix}-arrow-circle-o-right:before, .fa-arrow-circle-o-right:before { content: @fa-var-arrow-circle-o-right; }
.@{fa-css-prefix}-arrow-circle-o-left:before, .fa-arrow-circle-o-left:before { content: @fa-var-arrow-circle-o-left; }
.@{fa-css-prefix}-toggle-left:before,
.@{fa-css-prefix}-caret-square-o-left:before, .fa-caret-square-o-left:before, .fa-toggle-left:before { content: @fa-var-caret-square-o-left; }
.@{fa-css-prefix}-dot-circle-o:before, .fa-dot-circle-o:before { content: @fa-var-dot-circle-o; }
.@{fa-css-prefix}-wheelchair:before, .fa-wheelchair:before { content: @fa-var-wheelchair; }
.@{fa-css-prefix}-vimeo-square:before, .fa-vimeo-square:before { content: @fa-var-vimeo-square; }
.@{fa-css-prefix}-turkish-lira:before,
.@{fa-css-prefix}-try:before, .fa-try:before, .fa-turkish-lira:before { content: @fa-var-try; }
.@{fa-css-prefix}-plus-square-o:before, .fa-plus-square-o:before { content: @fa-var-plus-square-o; }
.@{fa-css-prefix}-space-shuttle:before, .fa-space-shuttle:before { content: @fa-var-space-shuttle; }
.@{fa-css-prefix}-slack:before, .fa-slack:before { content: @fa-var-slack; }
.@{fa-css-prefix}-envelope-square:before, .fa-envelope-square:before { content: @fa-var-envelope-square; }
.@{fa-css-prefix}-wordpress:before, .fa-wordpress:before { content: @fa-var-wordpress; }
.@{fa-css-prefix}-openid:before, .fa-openid:before { content: @fa-var-openid; }
.@{fa-css-prefix}-institution:before,
.@{fa-css-prefix}-bank:before,
.@{fa-css-prefix}-university:before, .fa-university:before, .fa-institution:before, .fa-bank:before { content: @fa-var-university; }
.@{fa-css-prefix}-mortar-board:before,
.@{fa-css-prefix}-graduation-cap:before, .fa-graduation-cap:before, .fa-mortar-board:before { content: @fa-var-graduation-cap; }
.@{fa-css-prefix}-yahoo:before, .fa-yahoo:before { content: @fa-var-yahoo; }
.@{fa-css-prefix}-google:before, .fa-google:before { content: @fa-var-google; }
.@{fa-css-prefix}-reddit:before, .fa-reddit:before { content: @fa-var-reddit; }
.@{fa-css-prefix}-reddit-square:before, .fa-reddit-square:before { content: @fa-var-reddit-square; }
.@{fa-css-prefix}-stumbleupon-circle:before, .fa-stumbleupon-circle:before { content: @fa-var-stumbleupon-circle; }
.@{fa-css-prefix}-stumbleupon:before, .fa-stumbleupon:before { content: @fa-var-stumbleupon; }
.@{fa-css-prefix}-delicious:before, .fa-delicious:before { content: @fa-var-delicious; }
.@{fa-css-prefix}-digg:before, .fa-digg:before { content: @fa-var-digg; }
.@{fa-css-prefix}-pied-piper:before, .fa-pied-piper:before { content: @fa-var-pied-piper; }
.@{fa-css-prefix}-pied-piper-alt:before, .fa-pied-piper-alt:before { content: @fa-var-pied-piper-alt; }
.@{fa-css-prefix}-drupal:before, .fa-drupal:before { content: @fa-var-drupal; }
.@{fa-css-prefix}-joomla:before, .fa-joomla:before { content: @fa-var-joomla; }
.@{fa-css-prefix}-language:before, .fa-language:before { content: @fa-var-language; }
.@{fa-css-prefix}-fax:before, .fa-fax:before { content: @fa-var-fax; }
.@{fa-css-prefix}-building:before, .fa-building:before { content: @fa-var-building; }
.@{fa-css-prefix}-child:before, .fa-child:before { content: @fa-var-child; }
.@{fa-css-prefix}-paw:before, .fa-paw:before { content: @fa-var-paw; }
.@{fa-css-prefix}-spoon:before, .fa-spoon:before { content: @fa-var-spoon; }
.@{fa-css-prefix}-cube:before, .fa-cube:before { content: @fa-var-cube; }
.@{fa-css-prefix}-cubes:before, .fa-cubes:before { content: @fa-var-cubes; }
.@{fa-css-prefix}-behance:before, .fa-behance:before { content: @fa-var-behance; }
.@{fa-css-prefix}-behance-square:before, .fa-behance-square:before { content: @fa-var-behance-square; }
.@{fa-css-prefix}-steam:before, .fa-steam:before { content: @fa-var-steam; }
.@{fa-css-prefix}-steam-square:before, .fa-steam-square:before { content: @fa-var-steam-square; }
.@{fa-css-prefix}-recycle:before, .fa-recycle:before { content: @fa-var-recycle; }
.@{fa-css-prefix}-automobile:before,
.@{fa-css-prefix}-car:before, .fa-car:before, .fa-automobile:before { content: @fa-var-car; }
.@{fa-css-prefix}-cab:before,
.@{fa-css-prefix}-taxi:before, .fa-taxi:before, .fa-cab:before { content: @fa-var-taxi; }
.@{fa-css-prefix}-tree:before, .fa-tree:before { content: @fa-var-tree; }
.@{fa-css-prefix}-spotify:before, .fa-spotify:before { content: @fa-var-spotify; }
.@{fa-css-prefix}-deviantart:before, .fa-deviantart:before { content: @fa-var-deviantart; }
.@{fa-css-prefix}-soundcloud:before, .fa-soundcloud:before { content: @fa-var-soundcloud; }
.@{fa-css-prefix}-database:before, .fa-database:before { content: @fa-var-database; }
.@{fa-css-prefix}-file-pdf-o:before, .fa-file-pdf-o:before { content: @fa-var-file-pdf-o; }
.@{fa-css-prefix}-file-word-o:before, .fa-file-word-o:before { content: @fa-var-file-word-o; }
.@{fa-css-prefix}-file-excel-o:before, .fa-file-excel-o:before { content: @fa-var-file-excel-o; }
.@{fa-css-prefix}-file-powerpoint-o:before, .fa-file-powerpoint-o:before { content: @fa-var-file-powerpoint-o; }
.@{fa-css-prefix}-file-photo-o:before,
.@{fa-css-prefix}-file-picture-o:before,
.@{fa-css-prefix}-file-image-o:before, .fa-file-image-o:before, .fa-file-photo-o:before, .fa-file-picture-o:before { content: @fa-var-file-image-o; }
.@{fa-css-prefix}-file-zip-o:before,
.@{fa-css-prefix}-file-archive-o:before, .fa-file-archive-o:before, .fa-zip-o:before { content: @fa-var-file-archive-o; }
.@{fa-css-prefix}-file-sound-o:before,
.@{fa-css-prefix}-file-audio-o:before, .fa-file-audio-o:before, .fa-sound-o:before { content: @fa-var-file-audio-o; }
.@{fa-css-prefix}-file-movie-o:before,
.@{fa-css-prefix}-file-video-o:before, .fa-file-video-o:before, .fa-file-movie-o:before { content: @fa-var-file-video-o; }
.@{fa-css-prefix}-file-code-o:before, .fa-file-code-o:before { content: @fa-var-file-code-o; }
.@{fa-css-prefix}-vine:before, .fa-vine:before { content: @fa-var-vine; }
.@{fa-css-prefix}-codepen:before, .fa-codepen:before { content: @fa-var-codepen; }
.@{fa-css-prefix}-jsfiddle:before, .fa-jsfiddle:before { content: @fa-var-jsfiddle; }
.@{fa-css-prefix}-life-bouy:before,
.@{fa-css-prefix}-life-buoy:before,
.@{fa-css-prefix}-life-saver:before,
.@{fa-css-prefix}-support:before,
.@{fa-css-prefix}-life-ring:before, .fa-life-ring:before, .fa-life-bouy:before, .fa-life-buoy:before, .fa-support:before { content: @fa-var-life-ring; }
.@{fa-css-prefix}-circle-o-notch:before, .fa-circle-o-notch:before { content: @fa-var-circle-o-notch; }
.@{fa-css-prefix}-ra:before,
.@{fa-css-prefix}-rebel:before, .fa-rebel:before, .fa-ra:before { content: @fa-var-rebel; }
.@{fa-css-prefix}-ge:before,
.@{fa-css-prefix}-empire:before, .fa-empire:before, .fa-ge:before { content: @fa-var-empire; }
.@{fa-css-prefix}-git-square:before, .fa-git-square:before { content: @fa-var-git-square; }
.@{fa-css-prefix}-git:before, .fa-git:before { content: @fa-var-git; }
.@{fa-css-prefix}-hacker-news:before, .fa-hacker-news:before { content: @fa-var-hacker-news; }
.@{fa-css-prefix}-tencent-weibo:before, .fa-tencent-weibo:before { content: @fa-var-tencent-weibo; }
.@{fa-css-prefix}-qq:before, .fa-qq:before { content: @fa-var-qq; }
.@{fa-css-prefix}-wechat:before,
.@{fa-css-prefix}-weixin:before, .fa-weixin:before, .fa-wechat:before { content: @fa-var-weixin; }
.@{fa-css-prefix}-send:before,
.@{fa-css-prefix}-paper-plane:before, .fa-paper-plane:before, .fa-send:before { content: @fa-var-paper-plane; }
.@{fa-css-prefix}-send-o:before,
.@{fa-css-prefix}-paper-plane-o:before, .fa-paper-plane-o:before, .fa-send-o:before { content: @fa-var-paper-plane-o; }
.@{fa-css-prefix}-history:before, .fa-history:before { content: @fa-var-history; }
.@{fa-css-prefix}-circle-thin:before, .fa-circle-thin:before { content: @fa-var-circle-thin; }
.@{fa-css-prefix}-header:before, .fa-header:before { content: @fa-var-header; }
.@{fa-css-prefix}-paragraph:before, .fa-paragraph:before { content: @fa-var-paragraph; }
.@{fa-css-prefix}-sliders:before, .fa-sliders:before { content: @fa-var-sliders; }
.@{fa-css-prefix}-share-alt:before, .fa-share-alt:before { content: @fa-var-share-alt; }
.@{fa-css-prefix}-share-alt-square:before, .fa-share-alt-square:before { content: @fa-var-share-alt-square; }
.@{fa-css-prefix}-bomb:before, .fa-bomb:before { content: @fa-var-bomb; }
.@{fa-css-prefix}-soccer-ball-o:before,
.@{fa-css-prefix}-futbol-o:before, .fa-futbol-o:before, .fa-soccer-ball-o:before { content: @fa-var-futbol-o; }
.@{fa-css-prefix}-tty:before, .fa-tty:before { content: @fa-var-tty; }
.@{fa-css-prefix}-binoculars:before, .fa-binoculars:before { content: @fa-var-binoculars; }
.@{fa-css-prefix}-plug:before, .fa-plug:before { content: @fa-var-plug; }
.@{fa-css-prefix}-slideshare:before, .fa-slideshare:before { content: @fa-var-slideshare; }
.@{fa-css-prefix}-twitch:before, .fa-twitch:before { content: @fa-var-twitch; }
.@{fa-css-prefix}-yelp:before, .fa-yelp:before { content: @fa-var-yelp; }
.@{fa-css-prefix}-newspaper-o:before, .fa-newspaper-o:before { content: @fa-var-newspaper-o; }
.@{fa-css-prefix}-wifi:before, .fa-wifi:before { content: @fa-var-wifi; }
.@{fa-css-prefix}-calculator:before, .fa-calculator:before { content: @fa-var-calculator; }
.@{fa-css-prefix}-paypal:before, .fa-paypal:before { content: @fa-var-paypal; }
.@{fa-css-prefix}-google-wallet:before, .fa-google-wallet:before { content: @fa-var-google-wallet; }
.@{fa-css-prefix}-cc-visa:before, .fa-cc-visa:before { content: @fa-var-cc-visa; }
.@{fa-css-prefix}-cc-mastercard:before, .fa-cc-mastercard:before { content: @fa-var-cc-mastercard; }
.@{fa-css-prefix}-cc-discover:before, .fa-cc-discover:before { content: @fa-var-cc-discover; }
.@{fa-css-prefix}-cc-amex:before, .fa-cc-amex:before { content: @fa-var-cc-amex; }
.@{fa-css-prefix}-cc-paypal:before, .fa-cc-paypal:before { content: @fa-var-cc-paypal; }
.@{fa-css-prefix}-cc-stripe:before, .fa-cc-stripe:before { content: @fa-var-cc-stripe; }
.@{fa-css-prefix}-bell-slash:before, .fa-bell-slash:before { content: @fa-var-bell-slash; }
.@{fa-css-prefix}-bell-slash-o:before, .fa-bell-slash-o:before { content: @fa-var-bell-slash-o; }
.@{fa-css-prefix}-trash:before, .fa-trash:before { content: @fa-var-trash; }
.@{fa-css-prefix}-copyright:before, .fa-copyright:before { content: @fa-var-copyright; }
.@{fa-css-prefix}-at:before, .fa-at:before { content: @fa-var-at; }
.@{fa-css-prefix}-eyedropper:before, .fa-eyedropper:before { content: @fa-var-eyedropper; }
.@{fa-css-prefix}-paint-brush:before, .fa-paint-brush:before { content: @fa-var-paint-brush; }
.@{fa-css-prefix}-birthday-cake:before, .fa-birthday-cake:before { content: @fa-var-birthday-cake; }
.@{fa-css-prefix}-area-chart:before, .fa-area-chart:before { content: @fa-var-area-chart; }
.@{fa-css-prefix}-pie-chart:before, .fa-pie-chart:before { content: @fa-var-pie-chart; }
.@{fa-css-prefix}-line-chart:before, .fa-line-chart:before { content: @fa-var-line-chart; }
.@{fa-css-prefix}-lastfm:before, .fa-lastfm:before { content: @fa-var-lastfm; }
.@{fa-css-prefix}-lastfm-square:before, .fa-lastfm-square:before { content: @fa-var-lastfm-square; }
.@{fa-css-prefix}-toggle-off:before, .fa-toggle-off:before { content: @fa-var-toggle-off; }
.@{fa-css-prefix}-toggle-on:before, .fa-toggle-on:before { content: @fa-var-toggle-on; }
.@{fa-css-prefix}-bicycle:before, .fa-bicycle:before { content: @fa-var-bicycle; }
.@{fa-css-prefix}-bus:before, .fa-bus:before { content: @fa-var-bus; }
.@{fa-css-prefix}-ioxhost:before, .fa-ioxhost:before { content: @fa-var-ioxhost; }
.@{fa-css-prefix}-angellist:before, .fa-angellist:before { content: @fa-var-angellist; }
.@{fa-css-prefix}-cc:before, .fa-cc:before { content: @fa-var-cc; }
.@{fa-css-prefix}-shekel:before,
.@{fa-css-prefix}-sheqel:before,
.@{fa-css-prefix}-ils:before, .fa-ils:before, .fa-shekel:before, .fa-sheqel:before { content: @fa-var-ils; }
.@{fa-css-prefix}-meanpath:before, .fa-meanpath:before { content: @fa-var-meanpath; }


// pl symlinx
.@{fa-css-prefix}-remove:before { content: @fa-var-times; }
.@{fa-css-prefix}-reorder:before { content: @fa-var-bars; }
.@{fa-css-prefix}-plus-sign:before { content: @fa-var-plus-circle; }
.@{fa-css-prefix}-ok:before { content: @fa-var-check; }
.@{fa-css-prefix}-trash:before { content: @fa-var-trash-o; }
.@{fa-css-prefix}-fullscreen:before { content: @fa-var-arrows-alt; }
.@{fa-css-prefix}-info-sign:before { content: @fa-var-info-circle; }
.@{fa-css-prefix}-sun:before { content: @fa-var-sun-o; }
.@{fa-css-prefix}-picture:before { content: @fa-var-picture-o; }
.@{fa-css-prefix}-star-empty:before { content: @fa-var-star-o; }
.@{fa-css-prefix}-zoom-in:before { content: @fa-var-search; }
.@{fa-css-prefix}-zoom-out:before { content: @fa-var-search-minus; }
.@{fa-css-prefix}-off:before { content: @fa-var-power-off; }
.@{fa-css-prefix}-file-alt:before { content: @fa-var-file-o; }
.@{fa-css-prefix}-download-alt:before { content: @fa-var-download; }
.@{fa-css-prefix}-indent-left:before { content: @fa-var-indent; }
.@{fa-css-prefix}-indent-right:before { content: @fa-var-outdent; }
.@{fa-css-prefix}-facetime-video:before { content: @fa-var-video-camera; }
.@{fa-css-prefix}-ban-circle:before { content: @fa-var-ban; }
.@{fa-css-prefix}-bar-chart:before { content: @fa-var-bar-chart-o; }
.@{fa-css-prefix}-beaker:before { content: @fa-var-flask; }
.@{fa-css-prefix}-bell-alt:before { content: @fa-var-bell-o; }
.@{fa-css-prefix}-bitbucket-sign:before { content: @fa-var-bitbucket-square; }
.@{fa-css-prefix}-bookmark-empty:before { content: @fa-var-bookmark-o; }
.@{fa-css-prefix}-building:before { content: @fa-var-building-o; }
.@{fa-css-prefix}-calendar-empty:before { content: @fa-var-calendar-o; }
.@{fa-css-prefix}-check-empty:before { content: @fa-var-square-o; }
.@{fa-css-prefix}-check-minus:before { content: @fa-var-minus-square-o; }
.@{fa-css-prefix}-check-sign:before { content: @fa-var-check-square; }
.@{fa-css-prefix}-chevron-sign-down:before { content: @fa-var-chevron-circle-down; }
.@{fa-css-prefix}-chevron-sign-up:before { content: @fa-var-chevron-circle-up; }
.@{fa-css-prefix}-chevron-sign-left:before { content: @fa-var-chevron-circle-left; }
.@{fa-css-prefix}-chevron-sign-right:before { content: @fa-var-chevron-circle-right; }
.@{fa-css-prefix}-circle-arrow-down:before { content: @fa-var-arrow-circle-down; }
.@{fa-css-prefix}-circle-arrow-up:before { content: @fa-var-arrow-circle-up; }
.@{fa-css-prefix}-circle-arrow-left:before { content: @fa-var-arrow-circle-left; }
.@{fa-css-prefix}-circle-arrow-right:before { content: @fa-var-arrow-circle-right; }
.@{fa-css-prefix}-circle-blank:before { content: @fa-var-circle-o; }
.@{fa-css-prefix}-collapse:before { content: @fa-var-caret-square-o-down; }
.@{fa-css-prefix}-collapse-top:before { content: @fa-var-caret-square-o-up; }
.@{fa-css-prefix}-collapse-alt:before { content: @fa-var-caret-square-o-up; }
.@{fa-css-prefix}-comment-alt:before { content: @fa-var-comment-o; }
.@{fa-css-prefix}-comments-alt:before { content: @fa-var-comments-o; }
.@{fa-css-prefix}-double-angle-down:before { content: @fa-var-angle-double-down; }
.@{fa-css-prefix}-double-angle-up:before { content: @fa-var-angle-double-up; }
.@{fa-css-prefix}-double-angle-left:before { content: @fa-var-angle-double-left; }
.@{fa-css-prefix}-double-angle-right:before { content: @fa-var-angle-double-right; }
.@{fa-css-prefix}-edit-sign:before { content: @fa-var-pencil-square-o; }
.@{fa-css-prefix}-ellipsis-horizontal:before { content: @fa-var-ellipsis-h; }
.@{fa-css-prefix}-ellipsis-vertical:before { content: @fa-var-ellipsis-v; }
.@{fa-css-prefix}-envelope-alt:before { content: @fa-var-envelope-o; }
.@{fa-css-prefix}-exclamation-sign:before { content: @fa-var-exclamation-circle; }
.@{fa-css-prefix}-eye-open:before { content: @fa-var-eye; }
.@{fa-css-prefix}-eye-close:before { content: @fa-var-eye-slash; }
.@{fa-css-prefix}-facebook-sign:before { content: @fa-var-facebook-square; }
.@{fa-css-prefix}-file-text-alt:before { content: @fa-var-file-text-o; }
.@{fa-css-prefix}-flag-alt:before { content: @fa-var-flag-o; }
.@{fa-css-prefix}-food:before { content: @fa-var-cutlery; }
.@{fa-css-prefix}-frown:before { content: @fa-var-frown-o; }
.@{fa-css-prefix}-github-sign:before { content: @fa-var-github-square; }
.@{fa-css-prefix}-google-plus-sign:before { content: @fa-var-google-plus-square; }
.@{fa-css-prefix}-h-sign:before { content: @fa-var-h-square; }
.@{fa-css-prefix}-hand-up:before { content: @fa-var-hand-o-up; }
.@{fa-css-prefix}-hand-down:before { content: @fa-var-hand-o-down; }
.@{fa-css-prefix}-hand-left:before { content: @fa-var-hand-o-left; }
.@{fa-css-prefix}-hand-right:before { content: @fa-var-hand-o-right; }
.@{fa-css-prefix}-hdd:before { content: @fa-var-hdd-o; }
.@{fa-css-prefix}-heart-empty:before { content: @fa-var-heart-o; }
.@{fa-css-prefix}-hospital:before { content: @fa-var-hospital-o; }
.@{fa-css-prefix}-keyboard:before { content: @fa-var-keyboard-o; }
.@{fa-css-prefix}-lemon:before { content: @fa-var-lemon-o; }
.@{fa-css-prefix}-lightbulb:before { content: @fa-var-lightbulb-o; }
.@{fa-css-prefix}-linkedin-sign:before { content: @fa-var-linkedin-square; }
.@{fa-css-prefix}-meh:before { content: @fa-var-meh-o; }
.@{fa-css-prefix}-microphone-off:before { content: @fa-var-microphone-slash; }
.@{fa-css-prefix}-minus-sign:before { content: @fa-var-minus-square; }
.@{fa-css-prefix}-minus-sign-alt:before { content: @fa-var-minus-square-o; }
.@{fa-css-prefix}-moon:before { content: @fa-var-moon-o; }
.@{fa-css-prefix}-move:before { content: @fa-var-arrows; }
.@{fa-css-prefix}-ok-circle:before { content: @fa-var-check-circle-o; }
.@{fa-css-prefix}-ok-sign:before { content: @fa-var-check-circle; }
.@{fa-css-prefix}-paper-clip:before { content: @fa-var-paperclip; }
.@{fa-css-prefix}-pinterest-sign:before { content: @fa-var-pinterest-square; }
.@{fa-css-prefix}-pushpin:before { content: @fa-var-thumb-tack; }
.@{fa-css-prefix}-question-sign:before { content: @fa-var-question-circle; }
.@{fa-css-prefix}-remove-sign:before { content: @fa-var-times-circle; }
.@{fa-css-prefix}-remove-circle:before { content: @fa-var-times-circle-o; }
.@{fa-css-prefix}-renminbi:before { content: @fa-var-jpy; }
.@{fa-css-prefix}-resize-full:before { content: @fa-var-expand; }
.@{fa-css-prefix}-resize-small:before { content: @fa-var-compress; }
.@{fa-css-prefix}-resize-horizontal:before { content: @fa-var-arrows-h; }
.@{fa-css-prefix}-resize-vertical:before { content: @fa-var-arrows-v; }
.@{fa-css-prefix}-rss-sign:before { content: @fa-var-rss-square; }
.@{fa-css-prefix}-screenshot:before { content: @fa-var-crosshairs; }
.@{fa-css-prefix}-share-sign:before { content: @fa-var-share-square; }
.@{fa-css-prefix}-sign-blank:before { content: @fa-var-square; }
.@{fa-css-prefix}-signout:before { content: @fa-var-sign-out; }
.@{fa-css-prefix}-smile:before { content: @fa-var-smile-o; }
.@{fa-css-prefix}-stackexchange:before { content: @fa-var-stack-exchange; }
.@{fa-css-prefix}-thumbs-down-alt:before { content: @fa-var-thumbs-o-down; }
.@{fa-css-prefix}-thumbs-up-alt:before { content: @fa-var-thumbs-o-up; }
.@{fa-css-prefix}-time:before { content: @fa-var-clock-o; }
.@{fa-css-prefix}-tumblr-sign:before { content: @fa-var-tumblr-square; }
.@{fa-css-prefix}-twitter-sign:before { content: @fa-var-twitter-square; }
.@{fa-css-prefix}-unchecked:before { content: @fa-var-square-o; }
.@{fa-css-prefix}-upload-alt:before { content: @fa-var-upload; }
.@{fa-css-prefix}-warning-sign:before { content: @fa-var-exclamation-triangle; }
.@{fa-css-prefix}-youtube-sign:before { content: @fa-var-youtube-square; }

.nav-tabs, .nav-pills {
	[class^="icon-"],
	[class*=" icon-"],
	[class^="fa-"],
	[class*=" fa-"] {
		/* keeps button heights with and without icons the same */
		&,
		&.icon-large {
			line-height: .9em;
		}
	}
}
.hentry ul{
	&.nav-pills{
		list-style-type: none;
	}
	&.nav-tabs{
		list-style-type: none;
	}
}

.pl-nav li {
	[class^="icon-"],
	[class*=" icon-"],
	[class^="fa-"],
	[class*=" fa-"]{
		display: inline-block;
		width: 1.25em;
		text-align: center;
		&.icon-large {
			/* increased font size for icon-large */
			width: 1.25*1.25em;
		}
	}
}

ul.icons,
ul.icon-ul,
ul.fa-ul,
ul.icon {
    list-style-type: none;
}