/*  
Theme Name: Western Spirit
Theme URI: http://petripottonen.fi/
Description: Custom Theme for Western Spirit
Version: 1.0.0
Author: Petri Pottonen & Agenda Helsinki Oy
Author URI: petripottonen.com, agendahelsinki.com
Template: dms
*/
/*This is a child-theme style.css to add and override styles from the DMS framework (parent theme). DMS uses Less but here we use Scss + Bourbon.*/
/*------------------------------------*\
    VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    HTML5 Boilerplate
\*------------------------------------*/
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.invisible {
  visibility: hidden; }

/*------------------------------------*\
    Align a block in center and middle http://frontendbabel.info/articles/css-tricks-by-wargaming/
\*------------------------------------*/
.center-container {
  position: relative;
  height: 600px;
  background: green; }
  .center-container > * {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

/*------------------------------------*\
    Cut off long lines with ellipsis
\*------------------------------------*/
.ellipsis-cut {
  white-space: nowrap;
  /* No line breaks */
  overflow: hidden;
  /* Hide text which does not fit the block */
  text-overflow: ellipsis;
  /* Cut off with ellipsis */
  display: block;
  /* Works only for block elements */ }

.containeri {
  width: 300px;
  height: 20px; }

/* #site,
label,
input,
input[type="submit"],
button,
select,
textarea,
.btn,
#site h1,
#site h2,
#site h3,
#site h4,
#site h5,
#site h6,
.modal h1,
.modal h2,
.modal h3,
.modal h4,
.modal h5,
.modal h6,
.modal {
	font-family: "proxima-nova";
} */
body {
  -webkit-font-smoothing: antialiased; }

/*------------------------------------*\
    NAVI-TEMPLATE
\*------------------------------------*/
/*------------------------------------*\
    MOBILE NAV TEMPLATE
\*------------------------------------*/
/* body ul.inline-list {
	@media (max-width: 1000px) {
		&.respond{
			.menu-toggle{
				display: block;
			}
			
			.menu-item{
				display: none;
			}
		}
	}
} */
body .pl-mobile-menu {
  box-shadow: -260px 0 0 transparent, -520px 0 0 transparent, -780px 0 0 transparent, -1040px 0 0 transparent, -1300px 0 0 transparent; }
  body .pl-mobile-menu.show-menu {
    box-shadow: -260px 0 0 rgba(0, 0, 0, 0.7), -520px 0 0 rgba(0, 0, 0, 0.7), -780px 0 0 rgba(0, 0, 0, 0.7), -1040px 0 0 rgba(0, 0, 0, 0.7), -1300px 0 0 rgba(0, 0, 0, 0.7); }

/*------------------------------------*\
    USEFUL STUFF
\*------------------------------------*/
.breaklong {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: normal; }

.image-left .hentry {
  text-align: left !important; }

#site,
label,
input,
input[type="submit"],
button,
select,
textarea,
.btn,
#site h1,
#site h2,
#site h3,
#site h4,
#site h5,
#site h6,
.modal h1,
.modal h2,
.modal h3,
.modal h4,
.modal h5,
.modal h6,
.modal,
body .widget .widget-title, .widget .widgettitle {
  font-family: "museo-sans",sans-serif; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase; }

/*------------------------------------*\
    HEADER
\*------------------------------------*/
.header-bg {
  background: url(/wp-content/uploads/2014/12/westernspirit-header1600.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF; }

.logolink a img {
  padding: 20px 0;
  width: 100%;
  max-width: 200px; }

.section-navi {
  background: #D3422A; }
  .section-navi .navi-left {
    height: 72px;
    padding: 20px 7px; }
  .section-navi .navi-wrap .navi-right {
    text-transform: uppercase;
    font-weight: 600; }
    .section-navi .navi-wrap .navi-right ul li a {
      opacity: 1;
      color: #FFF;
      font-weight: 600;
      font-size: 13px;
      letter-spacing: 0.3px;
      line-height: 112px; }
    .section-navi .navi-wrap .navi-right ul li:hover a, .section-navi .navi-wrap .navi-right ul li.current-menu-item a {
      background: inherit;
      color: #FFF; }

.breadcrumbs-section {
  background: #E4E4E4; }
  .breadcrumbs-section .woocommerce-breadcrumb {
    width: 90%;
    display: inline-block;
    margin: 0; }

/*------------------------------------*\
    WOOCOMMERCE
\*------------------------------------*/
.woocommerce .woocommerce-breadcrumb a, .woocommerce-page .woocommerce-breadcrumb a {
  color: #D3422A; }

.product-thumb-wrap .add_to_cart_btn,
.product-thumb-wrap .btn-overlay {
  display: none !important; }

li.product, li.product * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

li.product {
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-radius: 10px;
  padding: 10px !important; }
  li.product:hover {
    border: 1px solid #eeb2a8 !important; }
  li.product .product-thumb-wrap a img {
    padding: 30px; }

.widget_product_categories h2.widgettitle {
  font-weight: 800; }

.product-categories {
  border-left: 2px solid #09567D;
  padding-left: 15px; }
  .product-categories li.cat-parent {
    font-weight: 900;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: none; }
    .product-categories li.cat-parent.current-cat li a {
      color: #09567D !important; }
    .product-categories li.cat-parent .count {
      display: none; }
    .product-categories li.cat-parent a {
      color: #09567D; }
    .product-categories li.cat-parent li {
      margin: 2px 0 2px 15px;
      font-weight: 400 !important;
      font-weight: 400;
      text-transform: none;
      font-size: 14px; }
      .product-categories li.cat-parent li .count {
        display: inline; }
      .product-categories li.cat-parent li a {
        color: #09567D; }
  .product-categories li.current-cat a {
    color: #D3422A !important;
    font-weight: 600; }

/*------------------------------------*\
    FOOTER
\*------------------------------------*/
#footer {
  background: #D3422A;
  color: #FFF; }
