
/*------------------------------------*\
    HTML5 Boilerplate
\*------------------------------------*/


//Hide visually and from screen readers: h5bp.com/u
.hidden {
    display: none !important;
    visibility: hidden;
}


 // Hide only visually, but have it available for screen readers: h5bp.com/v
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

 // Hide visually and from screen readers, but maintain layout
.invisible {
    visibility: hidden;
}


/*------------------------------------*\
    Align a block in center and middle http://frontendbabel.info/articles/css-tricks-by-wargaming/
\*------------------------------------*/

.center-container{
	position: relative;
	height: 600px;
	background: green;
	> *{ //  this gets centered
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
	}
}

/*------------------------------------*\
    Cut off long lines with ellipsis
\*------------------------------------*/

.ellipsis-cut	 {
    white-space: nowrap;       /* No line breaks */
    overflow: hidden;          /* Hide text which does not fit the block */
    text-overflow: ellipsis;   /* Cut off with ellipsis */
    display: block;            /* Works only for block elements */
}


.containeri{
	width:300px;
	height: 20px;
}

// Crappy but needed DMS typography override

/* #site,
label,
input,
input[type="submit"],
button,
select,
textarea,
.btn,
#site h1,
#site h2,
#site h3,
#site h4,
#site h5,
#site h6,
.modal h1,
.modal h2,
.modal h3,
.modal h4,
.modal h5,
.modal h6,
.modal {
	font-family: "proxima-nova";
} */


body{
	-webkit-font-smoothing: antialiased;
}

/*------------------------------------*\
    NAVI-TEMPLATE
\*------------------------------------*/

	.section-navi{
		.navi-wrap{ // width draggable
			.navi-left{ //logo
			}
			.navi-right{ // nav links, search
				ul{
					li{
						a:not(.menu-toggle){
							// color: blue;
							// font-family: 'MuseoSans-700';
							// opacity: 1;
							// font-size: 13px;
							// line-height: 59px;
						}
						&:hover, &.current-menu-item{
							a:not(.menu-toggle){
						//	background: #FFF;
						//	color: brown;
							}
						}
						&.menu-item-23, &.menu-item-31{
						}
						a.menu-toggle{							
							&.hover{}
						}
					}
				}
			}
		}
	} //.section-navi



/*------------------------------------*\
    MOBILE NAV TEMPLATE
\*------------------------------------*/
body .pl-mobile-menu{
	fieldset{
		// display: none;
	}
	// box-sizing: border-box;
	// //background: @brown;
	// background: white;
	// border-left:4px solid @brownLighten;
	// color:black;
	// //box-shadow: 20px 0px 5px rgba(0, 0, 0, 0.37);
	ul li {
		a{
		// color: @darkBlue;
		// font-family: 'MuseoSans-700';
		// opacity: 1;
		// font-size: 13px;
		}
		 &.current_page_item a, & a:hover {
			//color:@brown;
		}
	}
}




// override mobile navi breakpoint (pl-objects.less line 347)
/* body ul.inline-list {
	@media (max-width: 1000px) {
		&.respond{
			.menu-toggle{
				display: block;
			}
			
			.menu-item{
				display: none;
			}
		}
	}
} */



//a semi-transparent layer to highlight mobile menu from rest of the page when open. made with box-shadow
$transparent: rgba(0, 0, 0, 0);
$semi-transparent: rgba(0, 0, 0, .7);

body .pl-mobile-menu{
	box-shadow: -260px 0 0 $transparent, -520px 0 0 $transparent,-780px 0 0 $transparent, -1040px 0 0 $transparent, -1300px 0 0 $transparent;
	&.show-menu{
	box-shadow: -260px 0 0 $semi-transparent, -520px 0 0 $semi-transparent,-780px 0 0 $semi-transparent, -1040px 0 0 $semi-transparent, -1300px 0 0 $semi-transparent;
	}
}


/*------------------------------------*\
    USEFUL STUFF
\*------------------------------------*/

//http://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/


.breaklong{
@include word-wrap;
@include word-wrap(normal);
}

//mediabox class to align its image left
.image-left .hentry{
	text-align:left !important;
}