/*  
Theme Name: Western Spirit
Theme URI: http://petripottonen.fi/
Description: Custom Theme for Western Spirit
Version: 1.0.0
Author: Petri Pottonen & Agenda Helsinki Oy
Author URI: petripottonen.com, agendahelsinki.com
Template: dms
*/

/*This is a child-theme style.css to add and override styles from the DMS framework (parent theme). DMS uses Less but here we use Scss + Bourbon.*/

/*------------------------------------*\
    VARIABLES
\*------------------------------------*/
$red1: #D3422A;
$blue1: #09567D;
$dark: #231F20;

/*------------------------------------*\
    IMPORTS
\*------------------------------------*/

@import "bourbon";
//@import "variables";
@import "base"; //Useful additional styles for DMS

#site,
label,
input,
input[type="submit"],
button,
select,
textarea,
.btn,
#site h1,
#site h2,
#site h3,
#site h4,
#site h5,
#site h6,
.modal h1,
.modal h2,
.modal h3,
.modal h4,
.modal h5,
.modal h6,
.modal,
body .widget .widget-title, .widget .widgettitle {
	font-family: "museo-sans",sans-serif;
}


h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
}

/*------------------------------------*\
    HEADER
\*------------------------------------*/

.header-bg{
		background: url(/wp-content/uploads/2014/12/westernspirit-header1600.jpg) no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		color:#FFF;
}

//ei käytössä
.logolink{
	//text-align: center;
	 a img{
	 	padding: 20px 0;
	 	width: 100%;
		max-width: 200px;
	}
}

//Navi
.section-navi{
//border-bottom: 1px solid $blue1;
//border-top: 1px solid $blue1;
background: $red1;
	//box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
	//border-bottom: none;
	//border-bottom: 1px solid rgba(0, 0, 0, 0.17);
	//text-align: left;
	$navi-left-height: 72px;
	$navi-left-padding: 20px;
	$navi-line-height: ($navi-left-padding * 2  + $navi-left-height);
	.navi-left{
		height: $navi-left-height;
		padding: $navi-left-padding 7px;
	}
	.navi-wrap{ // width draggable
		.navi-right{ // nav links, search
			//width: 100%;
			//text-align: right;
			text-transform: uppercase;
			font-weight: 600;
			ul{
				li{
					a{
						opacity: 1;
						color: #FFF;
						font-weight: 600;
						font-size: 13px;
						letter-spacing: 0.3px;
						line-height: $navi-line-height;
					}
					&:hover, &.current-menu-item{
						a{
						background: inherit;
						color: #FFF;

						}
					}

				}
			}
		}
	}
} //.section-navi


//breadcrumbs
.breadcrumbs-section{
	background: #E4E4E4;
	.woocommerce-breadcrumb{
		width: 90%;
		display: inline-block;
		margin: 0;
	}
}






/*------------------------------------*\
    WOOCOMMERCE
\*------------------------------------*/

//breadcrumbs
.woocommerce .woocommerce-breadcrumb a, .woocommerce-page .woocommerce-breadcrumb a{
	color: $red1;
}

//tuotteet
.product-thumb-wrap .add_to_cart_btn,
.product-thumb-wrap .btn-overlay { 
	display: none !important; 
}

li.product,li.product *{@include box-sizing(border-box);}
li.product{
	
	
	border: 1px solid rgba(0, 0, 0, 0.12) !important;
	&:hover{
		//border: 1px solid rgba(0, 0, 0, 0.32) !important;
		border: 1px solid lighten($red1, 30%) !important;
	}
	border-radius: 10px;
	padding: 10px !important;
	.product-thumb-wrap{	
		a img{
			padding: 30px;
		}
	}
}




//Left side product categories widget

.widget_product_categories h2.widgettitle{
	//font-size:60px !important;
	font-weight: 800 ;
}
.product-categories {
	border-left: 2px solid $blue1;
	padding-left: 15px;
	li.cat-parent{
		font-weight: 900;
		font-size: 15px;
		text-transform: uppercase;
		border-bottom: none;
		&.current-cat li a{
			color:$blue1 !important;
		}
		.count{display:none;}
		a{
			color: $blue1;
		}
		li{
				.count{display:inline;}
			margin:2px 0 2px 15px;
			font-weight: 400 !important;
			font-weight: 400;
			text-transform: none ;
			font-size: 14px;
			a{
			color: $blue1;
			}
		}
	}
	li.current-cat a {
	color: $red1 !important;
	font-weight: 600; 
	}
}

/*------------------------------------*\
    FOOTER
\*------------------------------------*/

#footer{
	background: $red1;
	color: #FFF;
}